@charset "UTF-8";
*{
    font-family: 'NanumSquareNeo';
    font-size:large;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
/* 연극 목록 로고 div */
#theater-list-title{
    margin-top: 2vh;
    width : 950px;
    height: 100px;
    display: flex;
    align-items: center;
}
/* 연극 목록 로고 글씨 */
#theater-list-title a{
    margin-left: 30px;
    font-size:40px;
    font-weight:500;
    color: #000000;
}
/* 정렬 버튼 */
.event-sort{
    width: 65vw;
    padding: 10px 0;
}
.event-sort li{
    text-align: center;
    list-style: none;
    float: right;
    /* 리스트 사이간격 조정 */
    padding-inline-start: 1.5em; 
}
.event-sort a{
    color: rgb(107, 107, 107);
}
.event-sort a:hover{
    color: rgb(71, 135, 255);
    transition: 0.5s;
}

/* 연극목록 css */
#content-wrap{
    font: optional;
    width: 65vw;
    margin: auto;
    
}
/* 연극제 내용 hover */
.tab-content:hover{
    color: gray;
    transition: 0.5s;
}
.event-content{
    margin-top: 30px;
    /* display: grid;
    grid-template-columns: 250px 2fr;
    grid-column-gap: 60px;
    grid-row-gap: 45px; */
    height: 200px;
    /* display: flex; */
    align-items: center;
}
.event-unit{
    width:20%;
    margin-right: 30px;
    float: left;
}
.event-poster {
    position: relative;
    padding-top: 140%;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 16px;
}
.event-poster img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}
/* 연극제목 마진줄이기 */
.event-unit h4{
    margin: 0;
    text-align: center;
    font-weight: 700;
}
/* 연극기간 폰트 줄이기 */
.event-unit p{
    margin-top: 5px;
    font-size:small;
    color: rgb(107, 107, 107);
    text-align: center;
}
.event-unit a{
    color: black;
}
/* 자간조절 */
.writed{
    word-spacing: 5px;
    line-height: 25px;
    width:60vw;
    height: 20vh;
}
/* 기간 크기 */
.writed #date{
    color: rgb(107, 107, 107);
    font-size: small;
}
.writed-content{
    
    overflow: hidden;
    text-overflow: ellipsis;   
    display: -webkit-box;
    -webkit-line-clamp: 3;  /* 3줄 이후로 텍스트 자르기 */
    -webkit-box-orient:vertical;
    white-space: nomal;
}
.writed h4{
    font-size: 25px;
}
