@charset "UTF-8";
#footer-wrap{
    background-color: #e2dfdf;
    padding-top: 100px;
}
.footer-copyright{
    min-width: 865px;
    margin: 0 auto;
    padding: 28px;
    text-align: right;
    font-weight: 800;
}