
button {
    border: 0;
    background-color: white;
}

input[type="email"] {
    font-family: 'NanumSquare Neo';
    color: #333;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

:focus {
    outline: none;
}

.in {
    width:100%;
    float: left;
    /* position: relative; */
    text-align: left;
}

.put{
    border: 0;
    border-bottom: 1px solid #ccc;
}

.put~.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: 0.4s;
}

.put:focus~.focus-border {
    width: 100%;
    transition: 0.4s;
}

table button{
    color: white;
    background-color: #70a3f5;
    border-radius: 5px;
    width: 50%;
}

.info{
    margin-top: 5%;
    width: 60%;
    margin-left: 5vw;
}

.info_info table{
    margin-top: 5%;
}

.info_info table th{
    padding: 10px;
    width: 50%;
    font-weight: 750;
}

.info_info table td{
    width:100%;
}

.reset{
    width: 6%;
    padding: 0;
    border-radius: 5px;
}

.reset:hover{
    background-color: #eeeeee;
}

.submit{
    width:6%;
    color:#3540d6;
    padding: 0;
    border-radius: 5px;
    text-align: center;
}

.button{
    margin-top: 5%;
    padding: 0;
}

.button hr{
    width: 13%;
}

.submit:hover{
    background-color: #eeeeee;
}


