.pay_modal>img {
    width: 8vw;
}

.info_info .modal_button {
    border: 0;
    background-color: rgb(109, 181, 248);
    border-radius: 5px;
    color: white;
    width: 7vw;
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_info .modal_cancle {
    padding-left: 25px;
    border-radius: 5px;
    background-color:white;
    color: #202020;
    width: 4vw;
    height: 3vh;
}

.info_info .modal_cancle:hover{
    background-color: #eeeeee;
}

.info_info .modal_cancle div{
    margin-left: -1vw;
}

.info_info .modal_overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
}

.info_info .hidden {
    display: none;
}

.info_info .modal_overlay .md_content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    padding: 15px;
    border-radius: 15px;
    top: 0;
    z-index: 999;
    width: 25%;
    height: 30%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.info_info .modal_overlay .md_content::-webkit-scrollbar {
    display: none;
    /* 크롬, 사파리, 오페라, 엣지 */
}

.info_info .modal_overlay .modal_text {
    width: 100%;
    font-weight: 800;
    text-align: left;
}

.info_info .modal_overlay .modal_password {
    width: 100%;
    margin-left: 3vw;
    margin-bottom: 5vh;
}

.info_info .modal_overlay .md_content form{
    display: flex;
    flex-direction: column;
}

.info_info .modal_overlay .modal_password table td {
    padding: 8px 30px;
    vertical-align: top;
    width: 25%;
    font-size:14px;
}

.info_info .modal_overlay .md_content .modal_password table {
    padding: 0;
    text-align: center;
    justify-content: center;
    border-collapse: collapse;
    empty-cells: show;
    table-layout: fixed;
    border-spacing: 2px;
    text-align: left;
    width: 85%;
}

.info_info .modal_overlay .md_content .modal_text .md_passwordinfo {
    text-align: left;
    font-weight: 800;
    font-size: 15px;
    margin-bottom: 2%;
    margin-left: 1vw;
}

.info_info .modal_img {
    border: 2px solid #d8daf8;
    padding: 7px;
}

.info_info .modal_footer {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: right;
}

#check{
    width: 100%;
}


/*input 태그*/
.modal_password .put {
	border: 0;
	border-bottom: 1px solid #ccc;
}

.modal_password .put ~.focus-border {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	transition: 0.4s;
}

.modal_password .put:focus ~.focus-border {
	width: 100%;
	transition: 0.4s;
}
