.modal_button button {
    border: 0;
    background-color: white;
}

input[type="email"] {
    font-family: 'NanumSquare Neo';
    color: #333;
    width: 85%;
    box-sizing: border-box;
    letter-spacing: 1px;
    padding: 5px;
}

:focus {
    outline: none;
}

.in {
    width:100%;
    float: left;
    text-align: left;
}

.put{
    border: 0;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

.put~.focus-border {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    transition: 0.4s;
}

.put:focus~.focus-border {
    width: 100%;
    transition: 0.4s;
}

.modal_button table button{
    color: white;
    background-color: #70a3f5;
    border-radius: 5px;
    width: 50%;
}

.info_content{
    margin-top: 5%;
   text-align:left;
	border: 2px solid #a9d2fd;
    width: 35vw;
	padding: 3%;
}

.info_info table{
    margin-top: 5%;
}

.info_info table th{
    padding: 15px;
    width: 30%;
    font-weight: 750;
}

.info_info table td{
    width:100%;
}

.reset{
    padding: 6px 15px;
    border-radius: 15px;
    border: 0;
	background-color: white;
}

.submit{
    color:#3540d6;
    padding: 6px 15px;
    border-radius: 15px;
    text-align: center;
    border: 0;
	background-color: white;
}

.button{
    margin-top: 6%;
}

.button hr{
	margin-bottom: 6px;
    width: 22%;
}

.submit:hover{
    background-color: #eeeeee;
}


.reset:hover {
	background-color: #eeeeee;
}

.info_password{
	font-size: 17px;
	margin-top: 5%;
	text-align:left;
	border: 2px solid #a9d2fd;
	width: 90%;
	padding: 25px;
	line-height: 1.8;
}

.info_password table{
	margin-top: 5%;
	width: 100%;
	padding: 10px;
	padding-left: 0px;
}
.info_password table td{
	margin-top: 5%;
	width: 45%;
	padding: 5px;
	font-size: 15px;
	text-align: left;
	padding-left: 0px;
}

.info_password table tr th{
	margin-top: 5%;
	width: 20%;
}

.user_detail{
	margin-top: 10%;
	font-size: 13px;
	color:#535353;
	display:flex;
}

.user_detail a{
	font-size: 13px;
}

.user_detail div{
	cursor: pointer;
}

/*회원 탈퇴 */


.deleteUser{
	font-size: 17px;
	margin-top: 5%;
	text-align:left;
	border: 2px solid #a9d2fd;
	width: 90%;
	padding: 25px;
}


.des{
	line-height: 1.8;
	word-spacing:5px
}

.des p{
	color: #a2a2a2;
	font-size: 14px;
}

.deleteUser table{
	margin-top: 5%;
	width: 35vw;
	padding: 10px;
	padding-left: 0px;
}

.deleteUser table th{
	margin-top: 5%;
	width: 25%;
}

.deleteUser table td{
	margin-top: 5%;
	width: 45%;
	padding: 5px;
	font-size: 15px;
	text-align: left;
	padding-left: 0px;
}

/* 탈퇴버튼 */
.checkdelete{
	width: 60%;
	color: #ff4a4a;
	padding: 2px;
	text-align: center;
	border: 0;
	background-color: white;
	cursor: pointer;
	border-left: 2px solid #d9d9d9;
	border-right: 2px solid #d9d9d9;
}

.checkdelete:hover{
	font-weight: 800;
	font-size: 18px;
	width: 70%;
}
