*{
	/* margin:0; */
    font-family: 'NanumSquare Neo';
    align-items: center;
    list-style-type: none;
    margin: 0;

    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

*::-webkit-scrollbar{
    display: none; 
}

a{
    text-decoration: none;
    color: black;
}

.mypage{
    /* border: 1px double rgb(205, 218, 246); */
    display: flex;
    margin-left: 17.5vw;
    margin-right: 17.5vw; 
    align-items: baseline;
}

img{
    width: 9vw;
}

.navi{
    width: 10vw;
}

.navi ul{
    width: 7vw;
    padding: 0;
}

.navi ul li{
    text-align: center;
}

.tab-content{
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 60%;
}

.title {
    width: 100%;
    display: flex;
    justify-content: left;
    font-weight: 800;
    font-size: 20px;
}

/* tabs 구현 */

ul.tabs{
    list-style: none;
    margin-top: 50px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
ul.tabs li{
    background: none;
    display: inline-block;
    padding: 13px 30px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
	width: 100%;
    border-left: 3px solid #141b82;
}

ul.tabs li:hover{
    font-weight: 800;
    border-right: 10px solid white;
}

ul.tabs li:hover a {
    color: #141b82;
}

.tab-content{
    display: none;
    padding: 25px 0;
}
.tab-content.current{
    display: inherit;
    display: flex;
	align-items: baseline;
}


/*간단한 회원 정보 navi*/
.user_bar{
	position: sticky;
	top: 200px;
    width: 170px;
    height: 200px;
    text-align: center;
    border: 1px solid #d5d6ed;
    margin-left: 7%;
    border-radius: 50px;
    margin-top: 5%;
    
}
.user_navi{
	display: flex;
    flex-direction: column;
}
.user_navi .img{
	width: 100px;
	height: 100px;
	border-radius: 100%;
	display: flex;
    flex-direction: column;
	justify-content: center;
}

.user_navi .img img{
	width: 80%;
	
}
