*{
	/* margin:0; */
    font-family: 'NanumSquare Neo';
    align-items: center;
    list-style-type: none;
    margin: 0;

    -ms-overflow-style: none; 
    scrollbar-width: none; 
}

*::-webkit-scrollbar{
    display: none; 
}

a{
    text-decoration: none;
    color: black;
}

.user_name{
    width: 65vw;
    background-color:rgb(205, 218, 246);
    height: 20vh;
}

.user{
    margin-left: 17.5vw;
    margin-right: 17.5vw; 
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}

h3{
    margin-top: 6vh;
}

.user span{
    font-size: 18px;
    font-weight: 500;
}

ul{
    list-style-type: none;
    width: 100%;
    height: 100%;
}

.mypage{
    /* border: 1px double rgb(205, 218, 246); */
    display: flex;
    margin-left: 17.5vw;
    margin-right: 17.5vw; 
    align-items: baseline;
}

img{
    width: 9vw;
}

.navi{
    width: 10vw;
}

.navi ul{
    width: 7vw;
    padding: 0;
    border: 3px  #b3b8f8;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(161, 192, 255);
}

.navi ul li{
    text-align: center;
    padding: 6px;
}

.tab-content{
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 60%;
}

.title {
    width: 100%;
    display: flex;
    justify-content: left;
    font-weight: 800;
    font-size: 20px;
}

/* tabs 구현 */

/* �뿰洹�,留쏆쭛 �꺆*/
ul.tabs{
    list-style: none;
    margin-top: 50px;
}
ul.tabs li{
    background: none;
    display: inline-block;
    padding: 13px 30px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}
ul.tabs li.current{
    color: #141B82;
    border-bottom: 3px solid #141b82;
    font-weight: bolder;
}

/* �뿰洹� 由ъ뒪�듃 */
.tab-content{
    display: none;
    padding: 25px 0;
}
.tab-content.current{
    display: inherit;
    display: flex;
}