*{
    margin: 0;
    padding: 0;
}
a{
    color: black;
    text-decoration: none;
}
#content-wrap{
    width: 65vw;
    min-width: 865px;
    margin: auto;
    margin-bottom: 100px;
}
#theater-list-title{
	padding: 52px 0 30px 30px;
    font-size: 40px;
    font-weight: 600;
    /* color: #141B82; */
}
/* 공연장 버튼 */
.tab-container {
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.tab-place {
    width: calc(100% - 65px);
    overflow: hidden;
}
.tab-row {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 8px;
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
}
.place-link {
	display: block;
	width: 100%;
	height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 3px;
    border: 1.5px solid #d2d2d2;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    
}
.place-link:hover{
    border: 2px solid #141B82;
}
.place-link a{
	display: block;
	width: 100%;	
	padding: 3px 6px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.place-link.active{
    border: 2px solid #141B82;
}
.tab-controls {
    display: flex;
    align-items: center;
}
.prev-btn,
.next-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: #555555;
    cursor: pointer;
    padding: 5px;
}
.prev-btn:hover,
.next-btn:hover{
	color: #141B82;
}
.prev-btn {
    margin-right: 12px;
}
.next-btn {
    margin-left: 8px;
}

/* 하단 탭 display */
.place-content{
    display: none;
}
.place-content.active{
    display: block;
}

/* 공연장 정보 */
.placeInfo{
    display: flex;
    align-items: center;
    height: 200px;
    border: 2px solid #d2d2d2;
    border-radius: 3px;
    margin-top: 25px;
}
.info-content{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background-color: #f0efef;
    display: flex;
   	align-items: center;
   	flex-direction: column;
   	justify-content: center;
}
.info-content h3{
	font-size: 23px;
	margin-top: 10px;
	margin-bottom: 16px;
}
.info-content div{
    margin-bottom: 10px;
}
.link{
    display: flex;
    align-items: center;
    justify-content: center;
	width: 80%;
	overflow: hidden;
}
.link-label{
	width: 9%;
	min-width: 75px;
}
.link-detail{
	max-width: 87%;
}
.link > a {
	display: block;
    color: black;
    max-width: 100%;
}
.homepage{
	display: inline-block;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
.homepage:hover{
	text-decoration: underline;
}
.innerIcon{
    margin-left:4px;
    color: #7c7c7f;   
}

/* 연극,맛집 탭*/
ul.tabs{
    list-style: none;
    margin-top: 50px;
}
ul.tabs li{
    background: none;
    display: inline-block;
    padding: 16px 30px;
    font-size: 19px;
    font-weight: bold;
    cursor: pointer;
}
ul.tabs li.active{
    color: #141B82;
    border-bottom: 3px solid #141b82;
    font-weight: 800;
}
.play-content{
    display: none;
    padding: 30px 0;
}
.play-content.active{
    display: inherit;
    display: flex;
}
/* 연극 리스트 */
.theater-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 45px;
    width: 100vw;
    min-width: 865px;
}
.no-playList{
	width: 100%;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 130px;
	font-size: 20px;
	color: #d2d2d2;
}
.theater-unit{
    display: flex;
    display: block;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.theater-link{
	diplay: block;
}
.img-wrap{
    position: relative;
    padding-top: 130%;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 20px;
}
.theater-unit img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.2s linear;
}
.theater-unit img:hover{
    transform: scale(1.1);
    overflow: hidden;
}
.theater-unit h4{
	display: block;	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	text-align: center;
}
/* 예약하기 버튼 */
.reservation-btn{
    width: 80%;
    height: 35px;
    margin: 10px auto 0 auto;
    background-color: white;
    border: 1.5px solid #141b82;
    border-radius: 3px;   
    cursor: pointer;
    box-shadow: 1px 1px 1px lightgray;
    font-weight: bold;
}
.reservation-btn:hover,
.reservation-btn a:hover{
    background-color: #141b82;
    color: white;
	font-weight: 600;
}
.reservation-btn a {
	display: block;
	width: 100%;
	height: 36px;
	padding-top: 8px;
	text-align: center;
	color: #141b82;
	box-sizing: border-box;
}

/* 맛집 리스트 */
/* 지도api */
#map{
    width: 700px;
    height: 430px;
    border: 1px solid green;
    margin-right: 60px;
}
.map-title:hover{
	text-decoration: underline;
}
.eat-content{
    width: 300px;
    height: 430px;
    overflow-y: scroll;
}
.eat-place{
    display: block;
    width: 285px;
    padding: 11px 0 11px 6px;
}
.eat-place:hover{
    background-color: rgb(233, 240, 248);
}
/* 스크롤바 조정 */
.eat-content::-webkit-scrollbar {
    width: 7px;
}
.eat-content::webkit-scrollbar-track {
	background-color: transparent;
}
.eat-content::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #d2d2d2;
}
.eat-content::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}
.eat-head{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 7px;
}
.eat-head p, .eat-side{
    font-size: 13px;
    color: gray;
}
.eat-title{
    font-size: 14px;
    font-weight: 600;
}
.pagination {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.pagination th:block {
  display: inline-block;
  margin-right: 10px;
}
.pagination strong {
  color: rgb(18, 82, 151);
  text-decoration: underline;
  display: inline-block;
}