@charset "UTF-8";
*{
    font-family: 'NanumSquareNeo';
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}

/* 연극 목록 로고 div */
#content-wrap{
    width: 65vw;
    min-width: 865px;
    margin: auto;
}
#theater-list-title{
	padding: 52px 0 30px 30px;
    font-size: 40px;
    font-weight: 600;
    /* color: #141B82; */
}

/* 정렬 버튼 */
.theater-sort{
	float: right;
    padding: 10px 0;
}
.theater-sort li{
    text-align: center;
    list-style: none;
    float: right;
    /* 리스트 사이간격 조정 */
    padding-inline-start: 1.5em; 
}
.theater-sort a{
    color: rgb(107, 107, 107);
}
.theater-sort a:hover{
    color: rgb(71, 135, 255);
    transition: 0.5s;
}

/* 연극목록 css */
#content-wrap{
    /* font: optional; */
    width: 65vw;
    margin: auto;
    min-width: 865px;
}
.theater-content{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 45px;
}
.theater-unit{
    display: flex;
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-right: 30px;
    overflow: hidden;
}
.theater-unit > a{
	display: block;
	width: 100%;
}
.theater-unit img:hover{
    transform: scale(1.1);
    overflow: hidden;
}
.theater-poster {
    position: relative;
    padding-top: 130%;
    overflow: hidden;
    border-radius: 12px;
    margin-bottom: 20px;
}
.theater-poster img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 0.2s linear;
}
/* 연극제목 마진줄이기 */
.theater-title{
  display: flex;
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px 3px;
  font-size: large;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 연극기간 폰트 줄이기 */
.theater-unit p{
    margin-top: 5px;
    font-size:small;
    color: rgb(107, 107, 107);
    text-align: center;
}
.theater-unit a{
    color: black;
}
.pagination {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 110px;
}
.pagination th:block {
  display: inline-block;
  margin-right: 10px;
}
.pagination strong {
  color: rgb(18, 82, 151);
  text-decoration: underline;
  display: inline-block;
}