.modal_overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.48);
}

.hidden {
    display: none;
}

.review_content .modal_overlay .md_content {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: space-between;
    padding: 30px;
    border-radius: 15px;
    top: 0;
    z-index: 1000;
    width: 750px;
    height: 350px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        0 6px 6px rgba(0, 0, 0, 0.23);
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.md_content::-webkit-scrollbar {
    display: none;
    /* 크롬, 사파리, 오페라, 엣지 */
}

.modal_review {
    width: 100%;
}
.asdf{
	display: flex;
	width: 100%;
	margin-top: 10%;
	height: 90%;
}

.file{
	display:flex;
	flex-direction: column;
	margin-right: 10px;
}

.file img{
	width: 170px;
	height: 170px;
	overflow-fit: cover;
}
.file input {
	width: 200px;
	margin-top: 12px;
}
.review_play{
    font-weight:800;
    font-size: 20px;
    margin-top:-7%;
    margin-bottom: 2%;
}

.review_date{
    margin-bottom: 15px;
    font-size: 13px;
}

#review_ment{
	width: 460px;
	resize: none;
	padding: 10px;
}

.review_content .modal_footer {
	margin-top: 4%;
    width: 100%;
    padding: 0;
    display:flex;
    justify-content: space-evenly;
}

.modal_cancle,
.review_content .modal_footer .check {
    all: unset;
    border-radius: 15px;
    cursor: pointer;
    width: 2vw;
    height: auto;
    text-align:center;
	background-color:white; 
	padding: 7px 12px;
	border: 0;
}

.modal_cancle:hover,
.review_content .modal_footer .check:hover{
    background-color: #dcdcdc;
}


