
.review_content{
    margin-top: 5%;
    display: flex;
    border: 2px solid #a9d2fd;
    padding: 4%;
    width: 90%;
}

.review_content img{
	width: 150px;
	height: 150px;
	overflow-fit: cover;
}
.review_info{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 12px;
    width: 100%;
}

.review_play{
    font-weight:800;
    font-size: 21px;
    margin-bottom: 6px;
    width: 100%;
	max-height: 50px;
    white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.review_date{
    margin-bottom: 18px;
    font-size: 13px;
    color: #a2a2a2;
}

.review_ment{
	width: 100%;
	max-height: 50px;
	over-flow: hidden;
	line-height: 1.3; 
}

.none{
    width: 60px;
    margin-bottom: 20%;
    display: flex;
	justify-content: flex-end;
}

.none button{
    background-color: white;
    border: 0;
    width: 15px;
	display: flex;
	cursor: pointer;
}
.trash{
	margin-left: 16px;
}
