@charset "UTF-8";
/* ------ 월간 베스트리뷰 ------ */
* {
   font-family: 'NanumSquareNeo';
   margin: 0;
   padding: 0;
}
a {
   text-decoration: none;
}

#review {
   width: 65vw;
   min-width: 865px;
   margin: 0 auto;
   min-height: calc(100% - 260px);
}

#review-list-title {
   margin-top: 2vh;
   width: 950px;
   height: 100px;
   display: flex;
   align-items: center;
}

#review-list-title a {
   margin-left: 50px;
   font-size: 40px;
   font-weight: 500;
   color: #000000;
}

/* 리뷰 타이틀 */
#review-month {
    font-weight: 900;
    text-align: center;
    font-size: 28px;
    margin: 60px auto 40px auto;
}

/* 리뷰 wrap*/
.feed-box {
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 20px;
}

.feed {
   width: 100%;
   margin-right: 60px;
}

.feed:nth-last-of-type(1) {
   margin-right: 0;
}

/* 후기 검색 */
.search-wrap{
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 30px 0;
}
.review-search{
    position: relative;
    width: 36%;
}
.review-search-input{
    width: 100%;
    border: 1.5px solid #d2d2d2;
    border-radius: 4px;
    padding: 14px 12px;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(253, 253, 253);
    box-sizing: border-box;
}
.review-search-input::-webkit-input-placeholder{
    color: #acacac;
}
.review-search-input:focus{
    outline: none;
}
.icon-reviewsearch{
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    color: #acacac;
}

/* 리뷰 상단 */
.review-top {
   display: flex;
   align-items: center;
   column-gap: 15px;
   margin-bottom: 10px;
   width: 100%;
}

.review-ranking {
   font-weight: 800;
   font-size: 18px;
}

.review-ranking i {
   color: #F5D042;
   margin-right: 3px;
}

.review-userid {
   font-size: 16px;
   color: rgb(107, 107, 107);
}

.post-image {
   /* width: 100%;
   height: auto;
   border-radius: 12px;
   margin-bottom: 10px; */
   max-width: 100%;
   max-height: 100%;
   object-fit:cover;
}
/* 이미지 크기 , 비율 정렬 */
.post-image-wrapper {
   height:400px;
   overflow:hidden;
   border-radius: 12px;
   margin-bottom: 10px;
}
.best-post-image-wrapper {
   height:270px;
   overflow:hidden;
   border-radius: 12px;
   margin-bottom: 10px;
}
/*list*/
/* 리뷰 하단*/
.review-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 8px;
   color: black;
}

.theater-name {
   font-weight: 600;
   font-size: 18px;
    margin-bottom: 5px;
    width: 250px;
    white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

.icon-box {
   display: flex;
   align-items: center;
   column-gap: 3px;
}

.icon-box i {
   color: #dc143c;
    font-size: 20px;
}

.likeNum {
   font-size: 16px;
    margin-left: 3px;
}

.review-content {
   white-space: normal;
   overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* 2줄 이후로 텍스트 자르기 */
   -webkit-box-orient: vertical;
   width: 300px;
   max-height: 66px;
   font-size: 14px;
   color: rgb(121, 121, 121);
}

.review-add {
   margin-top: 15px;
   font-size: 14px;
   color: #d2d2d2;
   display: flex;
   align-items: end;
   justify-content: center;
}

/* 리뷰 상단 */
.feed2 {
   display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hrLine{
   height:1px;
   border:0;
    background-color: #d2d2d2;
    margin-top: 30px;
    margin-bottom: 5px;
}
.review-wrapper{
   margin-left:25%;
}
.feed2 .review-top {
   display: flex;
   align-items: center;
   column-gap: 10px;
   margin-bottom: 12px;
   width: 100%;
}
.review-top i{
    font-size:20px;
    margin-bottom: -20px;
}
.feed2 .review-userid {
    font-weight: 600;
    margin-top: 20px;
   font-size: 16px;
   color: rgb(107, 107, 107);
}

/* 썸네일 이미지 크기 설정 */
.feed2 .post-image {
   border-radius: 5px;
   margin-bottom: 10px;
   width: 400px;
     height: 400px;
     object-fit: cover;
     cursor: pointer;
}

.modal-img {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content-img {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 800px;
}

.modal-image-img {
  width: 100%;
  height: auto;
}

.close-img {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  top: 20px;
  right: 30px;
  cursor: pointer;
}


/* 리뷰 하단*/
.feed2 .review-wrap {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 8px;
   color: black;
}

.feed2 .theater-name {
   font-weight: 600;
   font-size: 18px;
    margin-bottom: 5px;
    width: 350px;
    white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}
/* 아이콘 */
.theater-name i {
    margin-right: 10px;
    font-size: 20px;
    padding: 0%;

}
.feed2 .icon-box {
   display: flex;
   align-items: center;
   column-gap: 3px;
}

.feed2 .icon-box i {
   color: #dc143c;
    font-size: 20px;
}

.feed2 .likeNum {
   font-size: 16px;
    margin-left: 3px;
}

.feed2 .review-content {
   white-space: normal;
   overflow: hidden;
   text-overflow: ellipsis;
   line-height: 1.6;
   display: block;
   -webkit-line-clamp: 2; /* 2줄 이후로 텍스트 자르기 */
   -webkit-box-orient: vertical;
    margin-top: 10px;
      margin-bottom:15px;
      width: 400px;
   max-height: 66px;
   font-size: 16px;
   color: rgb(121, 121, 121);
}

.feed2 .review-add {
   margin-top: 15px;
   font-size: 13px;
   color: #d2d2d2;
   display: flex;
   align-items: end;
   justify-content: center;
}

.fixed-button {
   position: fixed;
   bottom: 25px;
   right: 20px;
   width: 55px;
   height: 55px;
   background-color: #d2d2d2;
   border-radius: 50%;
   color: #ffffff;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 24px;
   cursor: pointer;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
.fixed-button:hover{
   background-color: #141B82;
}

.modal {
   display: none;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   overflow: auto;
   background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
   background-color: #fefefe;
   margin: 10% auto;
   padding: 20px;
   border: 1px solid #888;
   width: 60%;
    border-radius: 10px;
}

.modal-title {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
}

.modal-title h2 {
   margin: 0;
}

.modal-close {
   cursor: pointer;
}

.modal-form {
   align-items: flex-start;
    
}

.modal-form-left {
    margin-top: 5px;
   margin-right: 20px;
    margin-bottom: 5px;
}

.modal-form-right {
   flex-grow: 1;
}

  hr {
    margin-top: 0;
    margin-bottom: 0;
  }


.modal-form-right textarea {
   width: 100%;
   height: 200px;
   padding: 12px;
   box-sizing: border-box;
   resize: none;
}

/* 등록 버튼 */
.modal-form-button{
    margin-top: 10px;
    display: flex;
    justify-content: right;
}
@import url("https://fonts.googleapis.com/css?family=Mukta:700");

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
button.learn-more {
  width: 12rem;
  height: auto;
}
button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #6db6ff;
  border-radius: 1.625rem;
}
button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 25px;
  background: #fff;
}
button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: -0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.4rem;
  right: 0.15rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
button:hover .circle {
  width: 100%;
}
button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
button:hover .button-text {
  color: #fff;
}

/* 드롭다운 */
* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --select-theme: #bcddff;
    --select-theme-hover: #a9d4ff;
    --option-color: #0d323b;
  }
  
  .container {
    padding: 20px;
    padding-left: 0;
  }
  .container__title {
    font-size: 25px;
    font-weight: 600;
    margin: 16px;
    text-align: center;
  }

  .selectbox {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 300px;
  }
  .option-container {
    background-color: var(--select-theme);
    color: var(--option-color);
    width: 100%;
    max-height: 0;
    opacity: 0;
    transition: all 0.3s ease;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .selectbox--active .option-container {
    max-height: 240px;
    opacity: 1;
    overflow-y: scroll;
  }
  
  .selectbox__displayWord,
  .option-container__option {
    padding: 12px 24px;
    cursor: pointer;
    user-select: none;
  }
  
  .selectbox__displayWord {
      box-sizing: border-box;
    position: relative;
    background-color: var(--select-theme);
    color: var(--option-color);
    border-radius: 8px;
    height: 40px;
  }
  .selectbox__displayWord::after {
    position: absolute;
    top: 50%;
    right: 16px;
    content: "";
    background: url("https://image.flaticon.com/icons/svg/271/271210.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  
    height: 16px;
    width: 16px;
    color: #f5f6fa;
    transform: translateY(-50%);
    transition: all 0.4s;
  }
  .selectbox--active .selectbox__displayWord::after {
    transform: translateY(-50%) rotateZ(180deg);
  }
  .selectbox--unselect .selectbox__displayWord {
    color: rgb(255, 255, 255);
  }
  .selectbox--shake {
    animation: shake 0.3s forwards;
  }
  .option-container {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
  }
  .option-container__option:hover {
    background-color: var(--select-theme-hover);
  }
  .option__radio {
    display: none;
  }
  .option__label {
    cursor: pointer;
  }
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
  