
.content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 25px;
    margin-top: 5%;
}

.wish_content{
    padding: 4%;
    width: 9vw;
    height: 26vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 10px;
}

.wish_info{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.619);
    color: white;
    top: 75%;
    bottom: 0%;
	left: 0%;
    right: 0%;
    text-align: center;
    font-size: 17px;
    padding: 10%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.delete{
    text-align: right;
}

.delete button{
    width:2vw;
    border: 0;
    background-color: rgba(0, 0, 0, 0);
}

.delete button > img{
    width: 100%;
}

