<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>출연진 리스트</title>
<link rel="stylesheet" href="../css/actorlist.css" type="text/css" media="all">
<link href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/fe66fff399.js"	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script>
$(document).ready(function () {
	$(".tab-link > a").click(function () {
	    var tabId = $(this).parent().data("tab");
	    //console.log(tabId);
	    var actorId = $(this).parent().data("actor-id");
	    openTab(tabId, actorId);
	 	
	});

    //loadComments(1);	//첫번째 배우의 댓글 목록 출력
    //openTab("tab1", 1);
    
	function openTab(tabId, actorId) {
		$("#" + tabId).show();							// 선택한 탭 표시
		$(".tab-content").not("#" + tabId).hide();		// 모든 탭 내용 숨김
		
		console.log("현재 actorId: " + actorId);
		
		// 이미 해당 배우의 댓글이 로드되었는지 확인
		/* if ($("#" + tabId).find(".comment-unit").length === 0) {
		    loadComments(actorId);
		    console.log("댓글 로드 완료, 현재 actorId: " + actorId);
		} */
		
		window.history.pushState(null, null, "/actor/" + actorId);	// URL 변경
		loadComments(actorId);
	   }
    
    // 댓글 로드 함수
    function loadComments(actorId) {
        $.ajax({
            type: "GET",
            url: "/actor/" + actorId,
            dataType: "json",
            data: { actorId: actorId },
            success: function (response) {
                var comments = response;    // 받아온 댓글 목록
				//console.log("response: " + JSON.stringify(response));
                $("#comment-box").empty();    // 댓글 창 비우기

                if (comments.length > 0) {
                    // 댓글이 있는 경우
                    comments.forEach(function (comment) {
                        var commentHtml =
                            '<div class="comment-unit">' +
                            '<p class="userName">@' + comment.userId + '</p>' +
                            '<p class="content">' + comment.acContent + '</p>' +
                            '</div>';

                        $("#comment-box").append(commentHtml);
                        console.log("댓글 있음. actorId: " + actorId);
                    });
                } else {
                    // 댓글이 없는 경우
                    var noCommentHtml = '<div class="no-comment">' +
                        '<p>첫 번째 응원을 남겨보세요!</p>' +
                        '</div>';

                    $("#comment-box").append(noCommentHtml);
                    console.log("댓글 없음");
                }
                //alert("댓글 로드 성공!");
            },
            error: function (xhr, status, error) {
                console.error("현재 actorId: ", actorId);
                console.error("댓글 로드 오류: ", error);
                alert("댓글 로드 오류!");
            }
        });
    }
});

//댓글 등록 및 출력
$(document).on("submit", "#commentForm", function (e) {
    e.preventDefault();		//기본 제출 동작 막기

    var acContent = $("#acContent").val();
    var actorId = parseInt($(this).find("#actorId").val());	// 현재 선택된 배우의 ID 가져오기

    if (!acContent || acContent.trim() === "") {
        alert("내용을 입력해주세요.");
        return false;
    } else {
        $.ajax({
            type: "POST",
            url: $(this).attr("action"),
            data: {
                acContent: acContent,
                actorId: actorId
            },
            dataType: "json",
            success: function () {
                //댓글 추가
                var commentUnit = $('<div class="comment-unit"></div>');
                commentUnit.append('<p class="userName">@' + actorId + '</p>');		//나중에 userId로 변경하기
                commentUnit.append('<p class="content">' + acContent + '</p>');

                $('#comment-box').append(commentUnit);

                //입력 필드 초기화
                $("#acContent").val("");

                //alert("댓글이 성공적으로 등록되었습니다.");
            },
            error: function (xhr, status, error) {
                console.error(error);
                alert("통신 오류!");
            }
        });
    }
})

</script>
<th:block th:include="header :: head"></th:block>
</head>

<body>
	<!-- Header -->
	<th:block th:include="header :: body"></th:block>

	<!-- Body Wrap -->
	<div class="content-wrap">
		<div class="main">
			<!-- 배우 리스트 -->
			<div class="actorlistwrap">
				<h1 class="nav-name">ACTOR</h1>
				<ul class="actorlist">
					<!-- <th:block th:each="item, itemStat : ${alist}"> -->
					<li th:each="item, itemStat : ${alist}"
						class="tab-link"
						th:data-tab="'tab' + ${item.actorId}"
						th:data-actor-id="${item.actorId}">
						<a th:text="${item.actorName}">actor.actorName</a>
					</li>
					<!-- </th:block> -->
				</ul>
			</div>

			<!-- 배우 상세정보 화면을 띄우는 공간 -->
			<div th:each="item, itemStat : ${alist}">
				<div th:id="'tab' + ${item.actorId}" class="tab-content" th:data-actor-id="${item.actorId}">
					<div class="actorwrap">
						<div class="actorInfo-left">
							<h1 th:text="${item.actorName}">actor.actorName</h1>
							<div class="actorimg">
								<!-- 배우의 이미지 -->
								<img th:src="${item.actorImg}" alt="Actor Image">
							</div>
						</div>
						<div class="actorInfo-right">
							<div class="actorInfo">
								<!-- 배우 정보 , sns , 출연작 -->
								<hr class="hrLine">
								<div class="infoTitle">생년월일</div>
								<div th:text="${item.actorBirth}">actor.actorBirth</div>
								<hr class="hrLine">
								<div class="infoTitle">인스타그램</div>
								<div class="instagram">
									<i class="fa-brands fa-instagram fa-lg"></i> 
									<a th:href="'https://www.instagram.com/' + ${item.actorSNS}" target="_blank" th:text="'https://www.instagram.com/' + ${item.actorSNS}">item.actorSNS</a>
								</div>
								<hr class="hrLine">
								<div class="infoTitle">출연작</div>
								<p th:each="plist : ${plist}" th:if="${plist.actor.actorId == item.actorId}">
									<span th:text="${plist.play.playTitle}">plist.playId.playTitle</span>
								</p>
								<hr class="hrLine">
							</div>
							
							<!-- 한 줄 응원 -->
							<div class="cheer-container">
								<div class="infoTitle">한 줄 응원</div>
								<!-- 댓글 창 -->
								<div class="comment" id="comment-box">
									<!-- 댓글이 없을 경우 -->
									<div th:if="${#lists.isEmpty(comments)}" class="no-comment">
										<p>첫 번째 응원을 남겨보세요!</p>
									</div>
									<!-- 댓글이 있을 경우 -->
									<div th:unless="${#lists.isEmpty(comments)} and ${comment.actorId == item.actorId}" th:each="comment : ${comments}" class="comment-unit">
										<p class="userName">@userId</p>
										<p class="content" th:text="${comment.acContent}">comment.acContent</p>
									</div>
								</div>
								<!-- 글 입력 -->
								<form id="commentForm" th:action="@{/actor/comment}" method="post">
									<input type="hidden" id="actorId" name="actorId" th:value="${item.actorId}">
									<div class="comment-input">
										<textarea id="acContent" name="acContent" class="input-field" placeholder="배우를 응원해주세요!"></textarea>
										<button id="commentButton" type="submit" class="submit-button">
											<i class="fa-solid fa-heart fa-beat fa-lg"></i>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="footer"></div>

</body>

</html>