<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CurtainCall</title>
<link rel="stylesheet" href="/css/actorlist.css" type="text/css" media="all">
<link href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/fe66fff399.js"	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script th:inline = "javascript">
$(document).ready(function () {
	var sessionUserLoginId = [[${session.user_loginId}]];	//로그인중인 userLoginId 가져오기
	var sessionUserState = /*[[${session.user_state}]]*/;
	console.log("session: " + sessionUserLoginId);
	
	var urlParams = new URLSearchParams(window.location.search);
  	var actorId = urlParams.get('actorId');

	if (actorId) {
	  var tabId = "tab" + actorId;
	  openTab(tabId, actorId);
	} else {
		// 첫 화면 출력시, 첫 번째 배우의 actorId 가져오기
		var firstActorId = $(".tab-link > a:first").parent().data("actor-id");
		var firstTabId = "tab" + firstActorId;
		openTab(firstTabId, firstActorId);
	}
	
	//탭 클릭시 배우 해당 화면 출력
	$(".tab-link > a").click(function () {
	    var tabId = $(this).parent().data("tab");
	    var actorId = $(this).parent().data("actor-id");
	    openTab(tabId, actorId);	 	
	});

	function openTab(tabId, actorId) {
		$("#" + tabId).show();							// 선택한 탭 표시
		$(".tab-content").not("#" + tabId).hide();		// 모든 탭 내용 숨김
		
		console.log("현재 actorId: " + actorId);
		window.history.pushState(null, null, "/actor?actorId=" + actorId);	// URL 변경
	}
	
	//댓글 등록 및 출력
	function addComment() {    
	    var formData = $("#commentForm").serialize(); // 데이터 직렬화하여 가져오기
	    $.ajax({
	        type: "POST",
	        url: "/actor/comment",
	        data: formData,
	        success: function(response) { 
	            var newCommentHtml = "<div class='comment-unit'>" +
	            	"<div class='comment-body'>" +
	                "<p class='userName'>@" + response.userLoginid + "</p>" +
	                "<p class='content'>" + response.content + "</p>" +
	                "</div>" +
	                "</div>";

	            $(".comment").append(newCommentHtml);
	            
	            $("#content").val("");
	            
	            window.location.href="/actor?actorId=" + actorId;
	        },
	        error: function(error) {
	            console.log("Error: ", error);
	            alert("댓글 등록에 실패했습니다.");
	        }
	    });
	};
});

/* $("#commentForm").submit(function(e) {
	
}); */
$(document).on("submit", "#commentForm", function(e) {
	e.preventDefault(); // 폼의 기본 동작인 페이지 새로고침을 막음
	
	var content = $("#content").val();
	
	//입력 내용이 비어있는 경우
	if (content.trim() === "") {
        alert("댓글 내용을 입력해주세요.");
        $("#content").val("");
        return false;
    }
	//로그인 상태가 아닐 경우
	if(sessionUserState === null){
		alert("로그인 후 이용 가능합니다.");
		$("#content").val("");
		return false;
	}
	addComment();
});

//엔터키로 댓글 등록하기
$(document).on("keydown", ".input-field", function(e) {
    if (e.keyCode == 13 && !e.shiftKey) {
    	e.preventDefault();		// 엔터 키의 기본 동작인 줄바꿈을 막음
    	$(this).closest("form").submit();
    }
});

$(document).on("click", ".deleteBtn", function() {
    var commentId = $(this).siblings("input[name=commentId]").val();
    var actorId = $(this).siblings("input[name=actorId]").val();
    deleteComment(actorId, commentId);
});

//댓글 삭제하기
function deleteComment(actorId, commentId){
	var check = confirm("삭제하시겠습니까?");
	if(check === true){
		$.ajax({
			type: "DELETE",
			url: "/actor/" + actorId + "/comment/" + commentId,
			success : function(response) {
                var redirectUrl = response.url;
                if (redirectUrl) {
                	alert("댓글이 삭제되었습니다.");
                    location.href = redirectUrl;
                }
            },
			error: function(error){
				console.log(error);
				console.log("commentId: " + commentId);
				alert("댓글 삭제에 실패했습니다.");
			}
		})
	}
}

		//텍스트에서 로그인 여부 확인 후에 버튼 type만 바꾸기
	function validate() {
		var state = document.getElementById("state").value;
		if (state === '') {

		} else {
			document.getElementById("commentButton").setAttribute("type",
					"submit"); //로그인 시에는 변경해주기
		}
	}
	
	function isSubmit(){
		var buttonType = document.getElementById("commentButton").type;
		
		if(buttonType==="button"){
			alert('로그인 후 이용 가능합니다.');
            window.location.href="/login";
		}else{
			return true;
		}

	}

</script>
<th:block th:include="header :: head"></th:block>
</head>

<body>
	<!-- Header -->
	<th:block th:include="header :: body"></th:block>

	<!-- Body Wrap -->
	<div class="content-wrap">
		<div class="main">
			<!-- 배우 리스트 -->
			<div class="actorlistwrap">
				<h1 class="nav-name">ACTOR</h1>
				<ul class="actorlist">
					<li th:each="item : ${alist}"
						class="tab-link"
						th:data-tab="'tab' + ${item.actorId}"
						th:data-actor-id="${item.actorId}">
						<a th:text="${item.actorName}">actor.actorName</a>
					</li>
				</ul>
			</div>

			<!-- 배우 상세정보 화면을 띄우는 공간 -->
			<div th:each="item : ${alist}">
				<div th:id="'tab' + ${item.actorId}" class="tab-content" th:data-actor-id="${item.actorId}">
					<div class="actorwrap">
						<div class="actorInfo-left">
							<h1 th:text="${item.actorName}">actor.actorName</h1>
							<div class="actorimg">
								<!-- 배우의 이미지 -->
								<img th:src="${item.actorImg}" alt="Actor Image">
							</div>
						</div>
						<div class="actorInfo-right">
							<div class="actorInfo">
								<!-- 배우 정보 , sns , 출연작 -->
								<hr class="hrLine">
								<div class="infoTitle">생년월일</div>
								<div th:text="${item.actorBirth}">actor.actorBirth</div>
								<hr class="hrLine">
								<div class="infoTitle">인스타그램</div>
								<div class="instagram">
									<i class="fa-brands fa-instagram fa-lg"></i> 
									<a th:href="'https://www.instagram.com/' + ${item.actorSNS}" target="_blank" th:text="'https://www.instagram.com/' + ${item.actorSNS}">item.actorSNS</a>
								</div>
								<hr class="hrLine">
								<div class="infoTitle">출연작</div>
								<div class="actor-play">
									<p th:each="plist : ${plist}" th:if="${plist.actor.actorId == item.actorId}">
										<span th:text="|- ${plist.play.playTitle}|">plist.playId.playTitle</span>
									</p>
								</div>
								<hr class="hrLine">
							</div>
							
							<!-- 한 줄 응원 -->
							<div class="cheer-container">
								<div class="infoTitle">한 줄 응원</div>
								<!-- 댓글 창 -->
								<div class="comment" id="comment-box">
									<!-- 댓글이 없을 경우 -->
									<div th:if="${!commentExists[item.actorId-1]}" class="no-comment">
										<p>첫 번째 응원을 남겨보세요!</p>
									</div>
									<!-- 댓글이 있을 경우 -->
									<div th:if="${comment.actor.actorId == item.actorId}" th:each="comment : ${comments}" class="comment-unit">
										<input type="hidden" name="commentId" th:value="${comment.commentId}">
										<input type="hidden" name="actorId" th:value="${comment.actor.actorId}">
										<div class="comment-body">
											<p class="userName" th:text="|@${comment.userLoginid}|">@comment.userId</p>
											<p class="content" th:text="${comment.content}">comment.acContent</p>
										</div>
                                    	<button class="deleteBtn" th:if="${comment.userLoginid == user_loginId}" >
                                    		<i class="fa-solid fa-xmark fa-xl"></i>
                                    	</button>
									</div>
									<!-- 새로운 댓글이 추가되는 부분 -->
									<!-- <div th:if="${newComment != null}" class="comment-unit"></div> -->
								</div>
								<!-- 글 입력 -->
								<form id="commentForm" th:action="@{/actor/comment}" method="post">
									<input type="hidden" id="actorId" name="actorId" th:value="${item.actorId}">
									<div class="comment-input">
										<textarea id="content" name="content" class="input-field" placeholder="배우를 응원해주세요!" onfocus="validate()"></textarea>
										<button id="commentButton" type="button" class="submit-button" onclick="isSubmit()">
											<i class="fa-solid fa-heart fa-beat fa-lg"></i>
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<th:block th:replace="footer :: footer"></th:block>
</body>

</html>
