<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CurtainCall</title>
    <link rel="stylesheet" href="/css/eventlist.css" type="text/css" media="all">
    <th:block th:include="header :: head"></th:block>
</head>

<body>
    <!-- HEADER -->
    <th:block th:include="header :: body"></th:block>
    
    <!-- 연극 리스트 -->
    <div id="content-wrap">
		<h1 id="theater-list-title">이벤트</h1>
		<hr>
        
       	<div id="tab-1" class="tab-content" th:each="list : ${list}">
            <a th:href="@{/event/detail(eventId=${list.eventId})}">
                <div class="event-poster">
                    <img th:src="${list.eventImg}" th:alt="${list.eventTitle}">
                </div>
                <!-- 글 내용 -->
                <div class="writed">
                    <h4 th:text="${list.eventTitle}"></h4>
                    <p id="date" th:text="${list.eventFrom} + '~' + ${list.eventTo}"></p>
                    <p th:text="${list.eventContent}" class="writed-content"></p>
                </div>
            </a>
        </div>
    </div>
    
    <!-- Footer -->
	<th:block th:replace="footer :: footer"></th:block>
</body>

</html>