<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CurtainCall</title>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-96x96.png"> <!-- Favicon -->
    <link rel="stylesheet" href="/css/header.css"> 
    <script type="text/javascript">
	    document.addEventListener('DOMContentLoaded', function() {
	        //사용자 아이콘 클릭시 마이페이지 이동
	        /* const userIcon = document.querySelector('.user-icon');
	        userIcon.addEventListener('click', function() {
	           window.location.href = 'pay.html';
	        }); */
	     });    
    </script>
</head>
<body>
    <header>
        <a href="/"><img src="../img/logo.png" id="logo"></img></a>
        <div id="nav-content">
            <nav>
                <ul>
                    <li><a href="/play" class="menu">연극</a></li>
                    <li><a href="/place" class="menu">공연장</a></li>
                    <li><a href="/actor" class="menu">출연진</a></li>
                    <li><a href="/event" class="menu">이벤트</a></li>
                    <li><a href="/review" class="menu">관람후기</a></li>
                </ul>
            </nav>
            <div class="right">
                <form action="/play/search" method="get" class="search">
                    <input type="text" name="keyword" class="search-input" placeholder="연극 검색">
                    <div class="icon"><i class="fas fa-search"></i></div>
                </form>
    				<div class="user-icon">
					<a href="/login" th:if="${user_state} != 'login'" class="fas fa-lock fa-lg"></a>
					<div th:if="${user_state} == 'login'">
						<button class="fas fa-user fa-lg"></button>
						<ul class="bar">
							<li><a href="/logout">로그아웃</a></li>
							<li><a href="/mypage">마이페이지</a></li>
						</ul>
						
						<!-- 마이페이지바를 띄우기 위한 js코드 -->
						<script>
					 	const btn = document.querySelector('.fa-user');
					    const list = document.querySelector('.bar');
					    
					    btn.addEventListener('click', () => {
					    	list.classList.toggle('on');
					    });
					    
					    list.addEventListener('click', (event) => {
					        if (event.target.nodeName === "A") {
					            list.classList.remove('on');
					        }
					    });
					    </script>
					</div>
				</div>
            </div>
        </div>
    </header>
</body>
</html>