<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-96x96.png"> <!-- Favicon -->
    <title>CurtainCall</title>
    <link href="/css/id_find_style.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
    $('#password_button').on('click', function(){
        checkEmail();
    });

    function checkEmail(){
        const memberName = $('#name').val();
		const memberEmail = $('#email').val();
		console.log(memberName);
		console.log(memberEmail);
		
        if(memberName === "" || memberEmail === ""){
            alert("이름 또는 이메일을 입력해주세요");
        } else {
            $.ajax({
                type: 'post',
                url: '/login/checkName',
                data: {
                	"memberName" : memberName,
                    "memberEmail": memberEmail
                },
                dataType : 'json',
                success: function(result){
                console.log("result :" + result);
                if (result.success){
                	sendEmail(result.userId);
                	alert('이메일로 아이디를 전송하였습니다.');
                    window.location.href="/login";
                    
                } else if(result.success){
                	alert('이름 또는 이메일이 잘못 입력되었습니다.');
                }
                }, 
                error : function(error){
                alert(JSON.stringify(error));
            }
        })
        }
    }

    function sendEmail(result){
    	console.log("result :" + result);
        const memberEmail = $('#email').val();
		console.log("시작");
        $.ajax({
            type: 'POST',
            url: '/login/sendId',
            data: {
              	"memberId" : result,
                "memberEmail": memberEmail
            },
            error: function(error){
                alert(JSON.stringify(error));
            }
        })
    }

    </script>

</head>

<body>
    <container>
        <div class="id_box">
            <a href="/" id="main_logo" title="메인으로 이동"><img src="/img/main_logo.png" style="width: 100%; height: auto;"></a>

            <h1>아이디 찾기</h1>

                <table>
                    <tr>
                        <th>이름</th>
                        <td><input type="text" id="name" name="name" placeholder="이름"></td><br>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td><input pattern=".+@*"  id="email" type="email" name="email" placeholder="이메일"></td>
                    </tr>
                </table>

                <button id="id_button" onclick="checkEmail()" >아이디 찾기</button>

        </div>
    </container>
</body>

</html>
