<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>회원가입</title>
<link rel="stylesheet" href="../css/join.css">
<link rel="stylesheet" href="../css/header.css">
<link href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css" rel="stylesheet">
</head>
<body>
	<div class="center-box">
        <div class="logo">
		    <img src="img/logo.png" alt="로고이미지"  style="width: 13vw; height: auto;">
        </div>
		<div class="joinForm">
			<form action="/login/joincheck" method="post">
				<input type="hidden" name="onOffNoty" value="Y"> <input
					type="hidden" name="userLoginType" value="G">
				<div class="joinContent">
					<label for="id">아이디</label> <input type="text" id="id"
						name="userId"><br>
				</div>

				<div class="joinContent">
					<label for="password">비밀번호</label> <input type="password"
						id="password" name="userPw"><br>
				</div>

				<div class="joinContent">
					<label for="passwordConfirm">비밀번호 확인</label> <input type="password"
						id="passwordConfirm" name="userPwConfirm">
					<button type="button"  id="get_verification_code" onclick="">확인</button>
					<br>
				</div>

				<div class="joinContent">
					<label for="name">이름</label> <input type="text" id="name"
						name="userName"><br>
				</div>
      
				<div class="joinContent">
					<label for="jumin">주민등록번호</label> <input type="text" pattern="\d{6}-?" maxlength="7" placeholder="YYMMDD-" required><br>

				</div>

				<div class="joinContent">
					<label for="email">이메일</label> <input type="email" id="email" name="email" required>
					<br>
				</div>

				<button type="submit" id="submitBtn" disabled>가입하기</button>
			</form>
		</div>
	</div>
</body>
</html>