<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>CurtainCall</title>
<link rel="stylesheet" href="/css/join.css">
<link href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css" rel="stylesheet">
<!-- <script type="text/javascript" src="../js/idDuplication.js"></script> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">
   function confirm() {
      var p1 = document.getElementById('password').value;
      var p2 = document.getElementById('passwordConfirm').value;

      if (p1 === p2) {
         alert("비밀번호가 일치합니다.");
      } else {
         alert("비밀번호가 일치하지 않습니다.");
         document.getElementById('passwordConfirm').value = null;
      }

   }

   $(document).ready(function() {
      $('#id_verification').click(function() {
         console.log("jiji");
         var id = document.getElementById('id').value;
         
         //아이디를 입력하지 않았을 경우
         if(id === ""){
            alert("아이디 입력 후 중복확인 버튼을 눌러주세요.");
            document.getElementById('id').focus();
            return;
         }else{
            document.getElementById('Check').value = "1";
            console.log(document.getElementById('Check').value);
         
         
         $.ajax({
            url : '/idcheck',
            type : 'post',
            data : {
               'id' : $('#id').val()
            },
            dataType : 'json',
            success : function(result) {
               if (result === 0) {
                  alert("사용 가능한 아이디입니다.");
               } else {
                  alert("사용 중인 아이디입니다.");
               }
            },
            error : function(req, status) {
               alert(status);
            }
         })
         }
      })
   });
   
   //아이디가 변경되었을 경우   
   function idCheckInit(){
      if(document.getElementById('Check').value == "1"){
         document.getElementById('Check').value = "0";
      }
   }

   //중복체크를 하지 않았을 경우
   function submitCheck(){
      
      var idDu = document.getElementById('Check').value;
      
      // 중복확인을 하지 않았을 경우
      if(idDu === "0"){
         alert("아이디 중복확인을 해주세요.");
         return false;
      }
   }
</script>
<th:block th:include="header :: head"></th:block>
</head>
<body>
	<!-- 헤더 nav -->
	<th:block th:include="header :: body"></th:block>

	<div id="content-wrap">
	    <div class="center-box">
	        <div class="logo">
	            <img src="img/logo.png" alt="로고이미지" style="width: 50%; height: auto;">
	        </div>
	        <div class="joinForm">
	            <form action="/joincheck" method="post">
	                <!-- 로그인 타입 -->
	                <input type="hidden" name="login" th:value="${logintype}">
	
	                <div class="joinContent">
	                    <label for="id">아이디</label> <input type="text" id="id" name="userId" onkeyup="idCheckInit()">
	                    <button type="button" id="id_verification">중복 확인</button>
	                    <br> <input type="hidden" id="Check" value="0">
	                    <!-- 0이 미확인, 1: 확인 -->
	                </div>
	
	                <div class="joinContent">
	                    <label for="password">비밀번호</label> <input type="password" id="password" name="userPw"><br>
	                </div>
	
	                <div class="joinContent">
	                    <label for="passwordConfirm">비밀번호 확인</label> <input type="password" id="passwordConfirm"
	                        name="userPwConfirm">
	                    <button type="button" id="get_verification_code" onclick="confirm()">확인</button>
	                    <br>
	                </div>
	
	                <div class="joinContent">
	                    <label for="name">이 름</label> <input type="text" id="name" name="userName" th:value="${name}"><br>
	                </div>
	
	                <div class="joinContent">
	                    <label for="jumin">생년월일</label> <input id="juminInput" name="rrn" pattern="\d{6}" maxlength="6"
	                        placeholder="YYMMDD" type="text" required><br>
	                </div>
	
	                <div class="joinContent">
	                    <label for="email">성 별</label>
	                    <input type="radio" id="genderF" name="gender" value="F" required>
	                    <label for="genderF">여자</label>
	                    <input type="radio" id="genderM" name="gender" value="M" required>
	                    <label for="genderM">남자</label><br>
	                </div>
	
	                <div class="joinContent">
	                    <label for="email">이메일</label> <input type="email" id="email" name="email" th:value="${email}"
	                        required> <br>
	                </div>
	
	                <div class="submitBtnContent">
	                	<button type="submit" id="submitBtn" onclick="submitCheck()">가입하기</button>
	                </div>
	            </form>
	        </div>
	    </div>
	</div>
   
   <!-- Footer -->
	<th:block th:replace="footer :: footer"></th:block>
</body>
</html>