<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
<meta name="google-signin-client_id"
	content="495904474836-tk1nqtp4mb7fdh6l6m013rvtm2bgf9gi.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
   <link
	href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css"
	rel="stylesheet">
    <title>CurtainCall-로그인</title>
    <link href="css/login_style.css" rel="stylesheet" type="text/css">

    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script type="text/javascript">

        function login(){
        	
        	var id = document.getElementById('id').value;
        	var pw = document.getElementById('password').value;
        	
        	if(id === ""){
        		alert("아이디를 입력해주세요");
        		document.getElementById('id').focus();
        		return false;
        	}else if(pw === ""){
        		document.getElementById('msg').innerText = "비밀번호를 입력해주세요.";
        		document.getElementById('password').focus();
        		return false;
        	}
        }

    </script>
</head>

<body>
	
    <div class="con">
        <div class="login_box">

            <a href="/"><img id="main_logo" src="img/main_logo.png"></a>

            <form action="/logincheck" method="post">
                <input type="text" name="id" placeholder="아이디">
                <input type="password" name="password" placeholder="비밀번호">
		    <div id="msg" th:text="${msg}" style="color:#ff5d5d; font-weight: 750;"></div>
                <input id="login_button" type="submit" value="로그인" onclick="login()">
            </form>

            <div class="find">
                <a href="id_find.html">아이디찾기 |</a>
                <a href="password_find.html">비밀번호 찾기 |</a>
                <a href="/join">회원가입</a>
            </div>

            <div class="social_login">
                <span id="before"></span>
                <span id="ment"> 소셜 로그인 </span>
                <span id="after"></span>
            </div>

  			<div class="sns_logo">
				<a href="/login/getGoogleAuthUrl"><img
					src="img/google_login.png"></a>
			</div>

        </div>
    </div>

    <!-- 푸터 -->

</body>

</html>
