<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link
	href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css"
	rel="stylesheet">
<script src="https://kit.fontawesome.com/fe66fff399.js"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
<link rel="stylesheet" href="../css/main.css">
<title>Curtain Call</title>
<script>
	window.onload = function() {
		// 1. buildCalendar 실행
		buildCalendar();

		// 2. 리뷰 현재 월 가져오기
		document.getElementById("review-month").innerText = `${nowMonth.getMonth() + 1}월 베스트 리뷰`;

		// 3. 배너 슬라이드
		showSlides();
	}

	//1. 달력 생성
	let nowMonth = new Date(); // 현재 달을 페이지를 로드한 날의 달로 초기화
	let today = new Date(); // 페이지를 로드한 날짜를 저장
	today.setHours(0, 0, 0, 0); // 비교 편의를 위해 today의 시간을 초기화

	// 달력 생성 : 해당 달에 맞춰 테이블을 만들고, 날짜를 채워 넣음
	function buildCalendar() {

		let firstDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth(), 1); // 이번달 1일
		let lastDate = new Date(nowMonth.getFullYear(),
				nowMonth.getMonth() + 1, 0); // 이번달 마지막날

		let tbody_Calendar = document.querySelector(".Calendar > tbody");
		document.getElementById("calYear").innerText = nowMonth.getFullYear(); // 연도 숫자 갱신
		document.getElementById("calMonth").innerText = leftPad(nowMonth
				.getMonth() + 1); // 월 숫자 갱신

		while (tbody_Calendar.rows.length > 0) { // 이전 출력결과가 남아있는 경우 초기화
			tbody_Calendar.deleteRow(tbody_Calendar.rows.length - 1);
		}

		let nowRow = tbody_Calendar.insertRow(); // 첫번째 행 추가           

		for (let j = 0; j < firstDate.getDay(); j++) { // 이번달 1일의 요일만큼
			let nowColumn = nowRow.insertCell(); // 열 추가
		}

		for (let nowDay = firstDate; nowDay <= lastDate; nowDay.setDate(nowDay
				.getDate() + 1)) { // day는 날짜를 저장하는 변수, 이번달 마지막날까지 증가시키며 반복  

			let nowColumn = nowRow.insertCell(); // 새 열을 추가하고

			let newDIV = document.createElement("p");
			newDIV.innerHTML = leftPad(nowDay.getDate()); // 추가한 열에 날짜 입력
			nowColumn.appendChild(newDIV);

			if (nowDay.getDay() == 6) { // 토요일인 경우
				nowRow = tbody_Calendar.insertRow(); // 새로운 행 추가
			}

			if (nowDay < today) { // 지난날인 경우
				newDIV.className = "pastDay";
			} else if (nowDay.getFullYear() == today.getFullYear()
					&& nowDay.getMonth() == today.getMonth()
					&& nowDay.getDate() == today.getDate()) { // 오늘인 경우           
				newDIV.className = "today";
				newDIV.onclick = function() {
					choiceDate(this);
				}
			} else { // 미래인 경우
				newDIV.className = "futureDay";
				newDIV.onclick = function() {
					choiceDate(this);
				}
			}
		}
	}

	// 날짜 선택
	function choiceDate(newDIV) {
		if (document.getElementsByClassName("choiceDay")[0]) { // 기존에 선택한 날짜가 있으면
			document.getElementsByClassName("choiceDay")[0].classList
					.remove("choiceDay"); // 해당 날짜의 "choiceDay" class 제거
		}
		newDIV.classList.add("choiceDay"); // 선택된 날짜에 "choiceDay" class 추가
		console.log(newDIV.classList);
		let selectedDate = new Date(nowMonth.getFullYear(),
				nowMonth.getMonth(), newDIV.innerHTML);
		console.log(selectedDate);
		const weekdays = [ "일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일" ];
		const year = selectedDate.getFullYear();
		const month = leftPad(selectedDate.getMonth() + 1);
		const day = leftPad(selectedDate.getDate());
		const date = year + "-" + month + "-" + day;
		const weekday = weekdays[selectedDate.getDay()];
		
		let dateVal = {
			"weekday" : weekday,
			"date" : date
		};
		$
				.ajax({
					type : "post",
					url : "/date",
					data : JSON.stringify(dateVal),
					contentType : "application/json",
					dataType : "json",
					success : function(response) {
						console.log("success");
						console.log(response);
						var calendarList = $("#calendarList");
						var slideContainer = $("<div>").attr("id",
								"slide-container");
						$("#slide-container").remove();
						// response 리스트의 각 항목을 순회하면서 div를 생성
						response.list.forEach(function(item,index) {
							var slideTheater = $("<div>").addClass("slide-theater");
							var slideInner = $("<a>").attr("href","/play/detail?playId=" + item.playId).attr("title", "연극 보기").addClass("slide-inner");
							var slidePoster = $("<div>").addClass("slide-poster");
							var posterImg = $("<img>").attr("src",item.playPoster);
							var slidePlace = $("<div>").addClass("slide-place").text(response.placeList[index].placeName);
							console.log(item.place);

							slidePoster.append(posterImg);
							slideInner.append(slidePoster);
							slideInner.append(slidePlace);
							slideTheater.append(slideInner);
							slideContainer.append(slideTheater);
							calendarList.append(slideContainer);

						});

						$("#slide-container")
								.slick(
										{
											slide : "div",
											dots : true,
											infinite : false,
											speed : 300,
											slidesToShow : 3,
											slidesToScroll : 3,
											arrows : true,
											pauseOnHover : true,
											prevArrow : "<button type='button' class='slick-prev slick-arrow'>Previous</button>",
											nextArrow : "<button type='button' class='slick-next slick-arrow'>Next</button>",
											responsive : [ {
												breakpoint : 1024,
												settings : {
													slidesToShow : 3,
													slidesToScroll : 3,
													infinite : true,
													dots : true
												}
											}, {
												breakpoint : 600,
												settings : {
													slidesToShow : 2,
													slidesToScroll : 2
												}
											}, {
												breakpoint : 480,
												settings : {
													slidesToShow : 1,
													slidesToScroll : 1
												}
											} ]
										})

					},
					error : function() {
						alert("통신 실패 ");
					}
				});
	}

	// 이전달 버튼 클릭
	function prevCalendar() {
		nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() - 1,
				nowMonth.getDate()); // 현재 달을 1 감소
		buildCalendar(); // 달력 다시 생성
	}
	// 다음달 버튼 클릭
	function nextCalendar() {
		nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1,
				nowMonth.getDate()); // 현재 달을 1 증가
		buildCalendar(); // 달력 다시 생성
	}

	// input값이 한자리 숫자인 경우 앞에 '0' 붙혀주는 함수
	function leftPad(value) {
		if (value < 10) {
			value = "0" + value;
			return value;
		}
		return value;
	}

	//2. 연극 슬라이드(slick-slider 사용)
	$(document)
			.ready(
					function() {
						$("#slide-container")
								.slick(
										{
											slide : "div",
											dots : true,
											infinite : false,
											speed : 300,
											slidesToShow : 3,
											slidesToScroll : 3,
											arrows : true,
											pauseOnHover : true,
											prevArrow : "<button type='button' class='slick-prev slick-arrow'>Previous</button>",
											nextArrow : "<button type='button' class='slick-next slick-arrow'>Next</button>",
											responsive : [ {
												breakpoint : 1024,
												settings : {
													slidesToShow : 3,
													slidesToScroll : 3,
													infinite : true,
													dots : true
												}
											}, {
												breakpoint : 600,
												settings : {
													slidesToShow : 2,
													slidesToScroll : 2
												}
											}, {
												breakpoint : 480,
												settings : {
													slidesToShow : 1,
													slidesToScroll : 1
												}
											} ]
										})
					})

	//3. 배너 이미지 슬라이드 
	var currentIdx = 0; // 현재 슬라이드 index
	function showSlides() {
		var i;
		var slides = document.getElementsByClassName("slide-banner");
		var dots = document.getElementsByClassName("dot");
		for (i = 0; i < slides.length; i++) {
			slides[i].style.display = "none";
		}
		currentIdx++; //다음 슬라이드로 이동
		if (currentIdx >= slides.length) { //마지막 슬라이드를 넘어가면 처음으로 돌아감
			currentIdx = 0;
		}
		for (i = 0; i < dots.length; i++) {
			dots[i].classList.remove("active"); //모든 dot에서 'active' 클래스 제거
		}
		slides[currentIdx].style.display = "block";
		dots[currentIdx].classList.add("active"); //현제 dot에 'active' 클래스 추가
		setTimeout(showSlides, 3000); //2초마다 이미지 변경
	}
</script>
<th:block th:include="header :: head"></th:block>
</head>
<body>
	<!-- Header -->
	<th:block th:include="header :: body"></th:block>

	<a href="/api">api</a>

	<div id="wrap">
		<!-- 1. 연극 주간 랭킹-->
		<div id="week-ranking-wrap">
			<!-- <img class="curtain left" src="../img/left.png"> -->
			<div class="week-ranking-rank">
				<h2>
					누적 랭킹<span>(예매 수 기준)</span>
				</h2>
				<div class="add-theater">
					<a href="/play">더 많은 연극 보기 +</a>
					<!-- 연극리스트 페이지로 이동-->
				</div>
				<!-- 랭킹 포스터 wrap -->
				<div id="rank-container">
					<!-- 개별 연극 -->
					<div class="rank-unit" th:each="play:${bestPlay}">
						<div class="rank-unit-poster">
							<p class="rank-num" th:text="${playStat.index+1}"></p>
							<img th:src="@{${play.playPoster}}">
						</div>
						<div class="btn-container">
							<button class="likeBtn">
								<!-- 좋아요 수 올라가기 -->
								<i class="fa-solid fa-heart fa-lg"></i>
							</button>
							<div class="tikettingBtn">
								<a th:href="@{/play/detail(playId=${play.playId})}"
									title="연극 예매하기">예&nbsp;&nbsp;&nbsp;매</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- <img class="curtain right" src="../img/right.png"> -->
		</div>
	
	
		<!-- 2. 날짜별 상영 가능한 연극 조회 -->
		<section id="calendarList">
			<div class="calbox">
				<table class="Calendar">
					<thead>
						<tr>
							<td onClick="prevCalendar();" style="cursor: pointer;">&#60;</td>
							<td colspan="5"><span id="calYear"></span>년 <span
								id="calMonth"></span>월</td>
							<td onClick="nextCalendar();" style="cursor: pointer;">&#62;</td>
						</tr>
						<tr>
							<td>일</td>
							<td>월</td>
							<td>화</td>
							<td>수</td>
							<td>목</td>
							<td>금</td>
							<td>토</td>
						</tr>
					</thead>
					<tbody></tbody>
					<!-- 달력 부분 -->
				</table>
			</div>
			<!-- 가능한 연극 리스트 -->
	
		</section>
	
		<!-- 3. 월간 베스트 리뷰 -->
	<div id="review">
		<h2 id="review-month"></h2>
		<!-- script문 -->
		<div class="add-theater">
				<a href="/review">더 많은 리뷰 보기 +</a>
				<!-- 리뷰 리스트 페이지로 이동-->
			</div>
		<div class="feed-box">
			<div class="feed" th:each="review:${bestReview}">
				<!-- 리뷰 상단 -->
				<div class="review-top">
					<div class="review-ranking">
						<i class="fa-solid fa-crown"></i> <span
							th:text="${reviewStat.index+1}+'등'"></span>
					</div>
					<div class="review-userid">
						<span th:text="${review.userName}"></span>
					</div>
				</div>
				<img th:src="'data:image/jpeg;base64,' + ${review.encodedImage}"
					alt="게시물 이미지" class="post-image" width="300px" height="300px">
				<!-- 리뷰 하단 -->
				<div class="review-wrap">
					<div class="theater-name">
						<i class="fa-solid fa-clapperboard"></i><span
							th:text="${review.play_title}">연극라면</span>
					</div>
					<!-- 연극 이름 -->
					<div class="icon-box">
						<i class="fa-solid fa-heart"></i>
						<div class="likeNum" th:text="${review.review_count}">32</div>
					</div>
				</div>
				<div class="review-content" th:text="${review.review_comment}">너무너무
	            재밌어요~!</div>
				<!-- 후기 내용 -->
			</div>
		</div>
	</div>
	
		<!-- 4. 광고 배너 -->
		<div id="addBanner">
			<!-- 슬라이드 이미지 -->
			<div class="slide-banner fade">
				<img src="../img/banner01.png" style="width: 100%">
			</div>
			<div class="slide-banner fade">
				<img src="../img/banner02.png" style="width: 100%">
			</div>
			<div class="slide-banner fade">
				<img src="../img/banner03.png" style="width: 100%">
			</div>
			<div class="slide-banner fade">
				<img src="../img/banner01.png" style="width: 100%">
			</div>
			<div class="slide-banner fade">
				<img src="../img/banner02.png" style="width: 100%">
			</div>
	
			<!-- 배너하단 점 -->
			<div class="dot-container">
				<span class="dot"></span> <span class="dot"></span> <span class="dot"></span>
				<span class="dot"></span> <span class="dot"></span>
			</div>
		</div>
	</div>
	
	
	<!-- Footer -->
	<th:block th:replace="footer :: footer"></th:block>
</body>

</html>