<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Google Maps API Example</title>
</head>
<body>
  <div id="map" style="width:50vw; height:50vh;"></div>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMg74sWHciF_btGAmqaRn5NP1Ld46yOfE&libraries=places&callback=initMap" async defer></script>
  <script>
    function initMap() {
      var place = new google.maps.LatLng(37.5666805, 126.9784147);
      var mapOptions = {
        center: place, // 특정 위치의 좌표
        zoom: 17
      };

      var map = new google.maps.Map(document.getElementById('map'), mapOptions);

      var marker = new google.maps.Marker({
        position: place,
        map: map
      });

      var placesService = new google.maps.places.PlacesService(map);
      var request = {
        location: place,
        radius: 1000, // 검색 반경 설정 (미터 단위)
        type: 'restaurant' // 맛집 유형 설정
      };
      /* // 장소 클릭 이벤트 리스너 추가
      map.addListener('click', function(event) {
        // 클릭한 위치의 좌표 정보
        var clickedLatLng = event.latLng;

        // 클릭한 위치의 좌표를 활용하여 맛집 정보를 가져오는 작업을 수행합니다.
        var placesService = new google.maps.places.PlacesService(map);
        var request = {
          location: clickedLatLng,
          radius: 1000, // 검색 반경 설정 (미터 단위)
          type: 'restaurant' // 맛집 유형 설정
        };

        placesService.nearbySearch(request, function(results, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            // 맛집 정보를 가져온 후의 처리 작업을 수행합니다.
            console.log(results); // 가져온 맛집 정보 출력 (개발자 도구 콘솔에 표시)
          } else {
            console.log('검색 결과가 없습니다.');
          }
        });
      });  */

      placesService.nearbySearch(request, function(results, status) {
        if (status === google.maps.places.PlacesServiceStatus.OK) {
          console.log(results); // 가져온 맛집 정보 출력 (개발자 도구 콘솔에 표시)
          for (let i = 0; i < 20; i++) {
            console.log(results[i].name);
            console.log(results[i].rating);
            console.log(results[i].user_ratings_total);
          }
        } else {
          console.log('검색 결과가 없습니다.');
        }
      });
    }
  </script>
 
</body>
</html>
