<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>CurtainCall-마이페이지</title>
<th:block th:include="header :: head"></th:block>
<link rel="stylesheet" href="../css/header.css">
<link rel="stylesheet" href="../css/mypage_style.css">
<link rel="stylesheet" href="../css/pay_style.css">
<link rel="stylesheet" href="../css/pay_modal.css">

<link rel="stylesheet" href="../css/wish_style.css">

<link rel="stylesheet" href="../css/review_style.css">
<link rel="stylesheet" href="../css/review_modal.css">

<link rel="stylesheet" href="../css/info_style.css">
<link rel="stylesheet" href="../css/info_modal.css">

<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<script src="https://kit.fontawesome.com/fe66fff399.js"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script type="text/javascript">
	
	//tab 화면 전환
	$(document).ready(function() {
		var urlParams = new URLSearchParams(window.location.search);
		var tabId = urlParams.get('tabId');
		
		if(tabId) {
			var clickId = "tab" + tabId;
			openTab(tabId);
		} else {
			$(".tab-link > a:first").click(); // 페이지 로딩시 예매내역 화면 출력
		}

		$(".tab-link > a").click(function() {
			var tabId = $(this).parent().data("tab");
			var clickId = $(this).parent().data("tabId-id");
			openTab(tabId);
		});

		function openTab(tabId) {
			  $("#" + tabId).show(); // 선택한 탭 표시
			  $(".tab-content").not("#" + tabId).hide(); // 모든 탭 내용 숨김

			  console.log("현재 tabId: " + tabId);
			  var url = "/mypage?tabId=" + tabId;
			  window.history.pushState(null, null, url); // URL 변경
			}
		  // 뒤로가기 이벤트 처리
		  window.addEventListener('popstate', function(event) {
		    var urlParams = new URLSearchParams(window.location.search);
		    var tabId = urlParams.get('tabId');
		    if (tabId) {
		      openTab(tabId);
    }
  });
	});

		//리뷰 삭제
	function deleteReview() {

		var review_id = document.getElementById('reviewid').value;

		console.log(review_id);
		$.ajax({
			url : '/mypage/delete',
			type : 'post',
			data : {
				'review_id' : review_id
			},
			dataType : 'json',
			success : function(result) {
				if (result === "true") {
					location.reload();
				} else {
					location.reload();
				}
			}
		});

	}

</script>
</head>

<body>
	<!-- Header -->
	<!-- 헤더 nav -->
	<th:block th:include="header :: body"></th:block>

	<!-- 마이페이지 내용 -->

	<div class="mypage">

		<!-- tab -->
		<div class="navi">
			<ul class="tabs">
				<li class="tab-link current" data-tab="tab1" th:data-tabId-id="1"><a>예매내역</a></li>
				<li class="tab-link" data-tab="tab2" th:data-tabId-id="2"><a>나의후기</a></li>
				<li class="tab-link" data-tab="tab3" th:data-tabId-id="3"><a>찜 목록</a></li>
				<li class="tab-link" data-tab="tab4" th:data-tabId-id="5"><a>회원정보</a></li>
			</ul>
		</div>

		<!-- 예매내역 -->
		<div id="tab1" class="tab-content current">
			<div class="title">
				<span>예매내역</span>
			</div>

			<!-- 나중에 반복되는 요소 -->
			<!--타임리프로 받아올 때 반복문 사용해주기-->
			<div class="pay_content">

				<img src="/img/review.jpg" alt="예매">
				<!-- th:src="${imgUrl}" 넣고 나중에 사진 경로 없애기-->

				<div class="pay_info">
					<div class="pay_play">2호선 세입자</div>
					<div class="pay_place">관람 장소 &nbsp; 바탕골 소극장</div>
					<div class="pay_date">관람 일시 &nbsp; 2023년 5월 31일(수) 15:00</div>
					<div class="pay_seat">관람 좌석 &nbsp; 현장 선택</div>
				</div>

				<div class="pay_modal">
					<button class="modal_button">결제내역 ></button>
					<img src="img/qr.png">
				</div>
				<div class="modal_overlay hidden">
					<div class="md_content">
						<div class="modal_text">
							결제내역
							<hr>
						</div>
						<div class="modal_pay md_payinfo">구매정보</div>
						<div class="modal_pay">
							<div class="modal_img">
								<img src="img/review.jpg" style="width: 7vw">
							</div>
							<div class="modal_info">
								<table>
									<tr>
										<th>연극명</th>
										<td>2호선 세입자</td>
									</tr>
									<tr>
										<th>관람 일자</th>
										<td>2023년 5월 31일(수) 15:00</td>
									</tr>
									<tr>
										<th>관람 좌석</th>
										<td>현장 선택</td>
									</tr>
								</table>
							</div>
						</div>

						<div class="modal_pay md_accountinfo">결제 정보</div>
						<div class="modal_pay account">
							<table>
								<tr>
									<th>결제일</th>
									<td>23.05.30</td>
								</tr>
								<tr>
									<th>결제금액</th>
									<td>30000</td>
								</tr>
								<tr>
									<th>결제 번호</th>
									<td>202305301234</td>
								</tr>
								<tr>
									<th>결제 수단</th>
									<td>네이버페이(간편 결제)</td>
								</tr>
							</table>
						</div>

						<div class="modal_footer">
							<hr>
							<button class="modal_cancle">❌</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 나의 후기 -->
		<div id="tab2" class="tab-content">
			<div class="title">
				<span>나의후기</span>
			</div>
			<div class="review_content" th:each="review : ${review}">
				<img th:src="'data:image/jpeg;base64,' + ${review.encodedImage}"
					alt="예매">
				<div class="review_info">
					<div class="review_play" th:text="${review.play_title}">2호선 세입자</div>
					<div class="review_date" th:text="${review.review_date}">23.05.31</div>
					<div class="review_ment" th:text="${review.review_comment}">와~ 대박~ 미쳤다~ 연극계를 뒤집어놓으셨다~</div>
				</div>
				<div class="none">
					<button class="modal_button">
						<i class="fa-solid fa-pencil" style="color: #6b6b6b;"></i>
					</button>
					<button class="trash">
						<i class="fa-solid fa-trash" onclick="deleteReview()"
							style="color: #6b6b6b;"></i>
					</button>
				</div>
				
				<!-- 리뮤 수정 모달창 -->
				<div class="modal_overlay hidden">
					<div class="md_content">
						<form action="/mypage/update" method="post"
							enctype="multipart/form-data">
							<div class="modal_review">
								<div class="asdf">
									<div class="file">
										<img
											th:src="'data:image/jpeg;base64,' + ${review.encodedImage}"
											alt="예매"> <input type="file" accept="image/*"
											multiple="multiple" id="img" name="img">
									</div>
									<div class="review_info">
										<div class="review_play" th:text="${review.play_title}"></div>
										<div class="review_name"></div>
										<div class="review_date" th:text="${review.review_date}"></div>
										<textarea name="comment" id="review_ment"
											th:text="${review.review_comment}"
											th:value="${review.review_comment}" cols="25" rows="7"></textarea>
									</div>
									<input type="hidden" name="reviewid" id="reviewid"
										th:value="${review.review_id}">
								</div>
							</div>
						<div class="modal_footer">
							<button class="check" type="submit">
									<i class="fa-solid fa-check"></i>
								</button>
								<button class="modal_cancle" type="reset">
									<i class="fa-solid fa-x"></i>
								</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		<script src="../js/mypage_script.js"></script>

		<!-- 찜 목록 -->
		<div id="tab3" class="tab-content">
			<div class="title">
				<span>찜 목록</span>
			</div>

			<div class="content">
				<div th:each="wish : ${mypage_wish}">
				<div class="wish_content"
					th:style="background-image: url('+@{${wish.playposter}}+');">

					<div class="delete">
						<form action="/mypage_wish" method="post">
					<input type="hidden" name="playtitle" th:value="${wish.playtitle}">
					<input type="hidden" name="tabId" value="tab3">
						<button type="submit">
							<img src="/img/delete.png" alt="삭제">
						</button>
					</form>
					</div>
					<div class="wish_info" th:text="${wish.playtitle}">2호선 세입자</div>
				</div>
				</div>
			</div>
		</div>

		<!-- 회원정보 == 들어가기 전에 비밀번호 확인해주기-->
		<div id="tab4" class="tab-content">
			<div class="title">
				<span>회원정보</span>
			</div>
			<div class="info_content">
				<div class="info_info">
					<table>
						<tr>
							<th>아이디</th>
							<td th:text="${user_id}">abcd1234</td>
						</tr>
						<tr>
							<th>이름</th>
							<td th:text="${username}">두레</td>
						</tr>
						<tr>
							<th>비밀번호</th>
							<td>
								<div class="modal_button" onclick='init()'>비밀번호 변경</div>
								<div class="modal_overlay hidden">
									<div class="md_content">
										<div class="modal_text">
											<div class="md_passwordinfo">비밀번호 변경</div>
											<hr style="width: 100%;">
										</div>
										<form action="/mypage/passwordmodi" method="get">
											<div class="modal_password">
												<table>
													<tr>
														<td>현재 비밀번호 입력</td>
														<td>
															<div class="in">
																<input class="put" id="password" type="password"
																	placeholder="현재 비밀번호"> <span
																	class="focus-border"></span>
															</div>
														</td>
													</tr>
													<tr>
														<td colspan="2">
															<div id="check"></div>
														</td>
													</tr>
													<tr>
														<td>새 비밀번호 입력</td>
														<td>
															<div class="in">
																<input class="put" onkeyup="passwordValid()" id="password1" type="password"
																	placeholder="새 비밀번호"> <span
																	class="focus-border"></span>
															</div>
														</td>
													</tr>
													<tr>
														<td colspan="2">
															<div id="pw_check"></div>
														</td>
													</tr>
													<tr>
														<td>비밀번호 확인</td>
														<td>
															<div class="in">
																<input class="put" id="password2" type="password"
																	placeholder="비밀번호 확인" onkeyup="test()"> <span
																	class="focus-border"></span>
															</div>
														</td>
													</tr>
													<tr>
														<td colspan="2">
															<div id="check"></div>
														</td>
													</tr>
												</table>
											</div>
											<hr style="width: 100%;">
											<div class="modal_footer">
												<button class="modal_cancle" type="reset" onclick="del()">
													<div>취소</div>
												</button>
												<button class="modal_cancle" type="submit">
													<div>변경</div>
												</button>
											</div>
										</form>
									</div>
								</div>
							</td>
						</tr>
							<tr>
								<th>이메일</th>
								<td>
									<form action="/mypage/info_modi" method="post">
									<div class="in">
										<input class="put" type="email" placeholder=""
											th:value="${useremail}"> <span
											class="focus-border"></span>
									</div>
										<input type="hidden" name="tabId" value="tab5">
								</td>
							</tr>
							<tr>
								<th>주민번호</th>
								<td th:text="${userrrn}">000101-4</td>
							</tr>
					</table>
					<div class="button">
						<hr>
						<button class="reset" type="reset">취소</button>
						<button class="submit" type="submit">저장</button>
						</form>
					</div>
					
				</div>
			</div>
<script src="../js/info.js"></script>
		</div>	

		<!-- 회원정보 수정 전 비밀번호 확인 -->
		<div id="tab5" class="tab-content">
			<div class="title">
				<span>회원정보</span>
			</div>
			<div class="info_password">
				개인정보 보호를 위해 회원정보 수정 전 비밀번호를 확인합니다. 현재 비밀번호를 입력해주세요.
				<table>
					<tr>
						<td>현재 비밀번호 입력</td>
						<td>
							<div class="in">
								<input class="put" id="ckpassword" type="password"
									placeholder="현재 비밀번호" > <span
									class="focus-border"></span>
							</div>
						</td>
					<tr>
					<tr>
						<td colspan='2'><span style="width: 50vw;" id="pwcheck"></span></td>
					</tr>
				</table>
				<button class="submit" onclick="pwCheck()">확인</button>
			</div>
		</div>

		<!-- 회원탈퇴 메세지 및 비밀번호 확인 창 -->
		<div id="tab6" class="tab-content">
			<div class="title">
				<span>회원 탈퇴</span>
			</div>
			<div class="deleteUser">
			
				<div class="des">
					저희 CurtainCall은 앞으로도 연극 진흥을 위해 노력하겠습니다. <br> 저희와 함께 하지 않으시더라도
					연극에 많은 관심과 사랑 부탁드립니다.<br> CurtainCall과 함께 해주셔서 감사했습니다.<br>
					다시 뵙는 날이 찾아오기를 바랍니다.
				</div>
				본인 확인을 위해 비밀번호를 입력한 후, "탈퇴" 버튼을 눌러주세요.<br>(회원 탈퇴 시 모든 정보와 DB가
				자동삭제 됩니다.)
				<table>
					<tr>
						<th>현재 비밀번호 입력</th>
						<td>
							<div class="in">
								<input class="put" id="deletepassword" type="password"
									placeholder="현재 비밀번호" onblur="deleteCheck()"> <span
									class="focus-border"></span>
							</div>
						</td>
						<td><button class="checkdelete" onclick="checkdelete()">회원탈퇴</button></td>
					</tr>
					<tr>
						<td colspan='3'><span style="width: 50vw;" id="deletecheck"></span></td>
					</tr>
					<tr>
					</tr>
				</table>
			</div>
		</div>

		<!-- 간단한 회원 정보 navi -->
		<div class="user_bar">
			<div class="user_navi">
				<div class="img">
					<img src="../img/logo.png"></img>
				</div>
				<span th:text="|${username}님|"></span> <span>안녕하세요!</span>
				<div class="user_button"></div>
				<div class="user_detail">
					<a href="/mypage?tabId=tab5" style="color: #787474;">수정</a>&nbsp; |
					&nbsp;
					<div class="tab-link" data-tab="tab6" th:data-tabId-id="6">
						<a style="color: #ff4a4a;">탈퇴</a>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
