<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CurtainCall</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css" rel="stylesheet">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-96x96.png"> <!-- Favicon -->
    <link href="../css/password_find_style.css" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">

    $('#password_button').on('click', function(){
        checkEmail();
    });

    function checkEmail(){
        const memberId = $('#id').val();
		const memberEmail = $('#email').val();
		console.log(memberId);
		console.log(memberEmail);
		
        if(memberId === "" || memberEmail === ""){
            alert("아이디를 입력하세요.");
        } else {
            $.ajax({
                type: 'post',
                url: '/login/checkEmail',
                data: {
                	"memberId" : memberId,
                    "memberEmail": memberEmail
                },
                dataType : 'json',
                success: function(result){
                console.log("result :" + result);
                
                if (result === true){
                	sendEmail();
                	alert('임시비밀번호를 전송 했습니다.');
                    window.location.href="/login";
                    
                } else if(result === false){
                	alert('아이디 또는 이메일이 잘못 입력되었습니다.');
                }
                }, 
                error : function(error){
                alert(JSON.stringify(error));
            }
        })
        }
    }

    function sendEmail(){
        const memberEmail = $('#email').val();
		console.log("시작");
        $.ajax({
            type: 'POST',
            url: '/login/sendPwd',
            data: {
                'memberEmail' : memberEmail
            },
            error: function(error){
                alert(JSON.stringify(error));
            }
        })
    }
    </script>
</head>

<body>
    <container>
        <div class="password_box">
            <a href="/" id="main_logo" title="메인으로 이동"><img src="../img/main_logo.png" style="width: 100%; height: auto;"></a>
            <h1>비밀번호 찾기</h1>
  
                <table>
                    <tr>
                        <th>아이디</th>
                        <td><input type="text" id="id" name="id" placeholder="아이디"></td>
                    </tr>
                    <tr>
                        <th>이메일</th>
                        <td> <input type="email" id="email" name="email" placeholder="이메일"></td>
                    </tr>
                    <tr>
                        <td colspan="2" class="pw-notice">* 회원가입 시 입력한 이메일로 비밀번호가 전송됩니다.</td>
                    </tr>
                </table>

                <button id="password_button" onclick="checkEmail()">비밀번호 찾기</button>
		</div>
    </container>
</body>

</html>
