<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>CurtainCall</title>
<link rel="stylesheet" href="../css/placelist.css">
<link rel="stylesheet" href="../css/header.css">
<link href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css" rel="stylesheet">
<script src="https://kit.fontawesome.com/fe66fff399.js"	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">

/* //script문에 추가
var article_subject = $('input[name=article_subject]').val();

//html에 추가
<input type="hidden" name="article_subject" th:value="${article.subject}"> */

var la = [[${list[0].la}]];
var lo = [[${list[0].lo}]];
//console.log(la,lo);
    
$(document).ready(function(){
	var urlParams = new URLSearchParams(window.location.search);
  	var placeId = urlParams.get('placeId');
	
 	// 첫 번째 탭을 기본으로 설정
 	if (placeId) {
	  	var tabId = "place" + placeId;
	  	openTab(tabId, placeId);
	}else {
		var firstPlaceId = $(".place-link > a:first").data("place-id");
		var firstTabId = "place" + firstPlaceId;
		openTab(firstTabId, firstPlaceId);
	}

	//장소 탭
    $(".place-link").click(function(){
        var tabId = $(this).data("tab");
        var placeId = $(this).data("place-id");   
        var playTab = "eat" + placeId;
		
		openTab(tabId, placeId);
		openTab2(playTab);		//default값으로 연극탭 선택
    });	
  	
  	//연극/맛집 탭
    $(".play-link").click(function(){
        var tabId = $(this).data("tab");       
		openTab2(tabId);
    });
  	
	function openTab(tabId, placeId) {
		$(".place-link").removeClass("active");		
		$(".place-content").removeClass("active");
		
		$("#" + tabId).addClass("active");
		$("[data-tab=" + tabId + "]").addClass("active");
		
		la = $("#"+tabId).find("input[name=place_la]").val();
    	lo = $("#"+tabId).find("input[name=place_lo]").val();
    	console.log(la + ":" +lo);
		//console.log("현재 placeId: " + placeId);
		window.history.pushState(null, null, "/place?placeId=" + placeId);	// URL 변경
	}

    function openTab2(tabId) {
    	$(".play-link").removeClass("active");
		$(".play-content").removeClass("active");
		
		$("[data-tab=" + tabId + "]").addClass("active");
		$("#" + tabId).addClass("active");
		
		$(".eat-content").empty();
		initMap();	//현재 위치 중심으로 맛집 가져오기
    }
    
  //장소별 지도 및 맛집 리스트 출력
	function initMap() {
		console.log(la + ":" +lo);
		var place = new google.maps.LatLng(la,lo);
		var mapOptions = {
			center : place,
			zoom : 17
		};

		var map = new google.maps.Map(document.getElementById("map"), mapOptions);

		var marker = new google.maps.Marker({
			position : place,
			map : map
		});

		var placesService = new google.maps.places.PlacesService(map);
		var request = {
			location : place,
			radius : 1000, // 검색 반경 설정 (미터 단위)
			type : 'restaurant' 
		};

		placesService.nearbySearch(request, function(results, status) {
			if (status === google.maps.places.PlacesServiceStatus.OK) {
				//console.log(results); // 가져온 맛집 정보 출력
				
				for (let i = 0; i < 20; i++) {
					$(".eat-content").append(`
						    <div class="eat-place">
						      <div class="eat-head">
						        <div class="eat-title">${results[i].name}</div>
						      </div>
						      <p class="eat-side">
						        <span><i class="fa-solid fa-star" style="color: #F5D042"></i> ${results[i].rating}</span>
						        <span>&nbsp;&nbsp;</span>
						        <span>리뷰 ${results[i].user_ratings_total}</span>
						      </p>
						    </div>
						  `);
				}
			} else {
				console.log('검색 결과가 없습니다.');
			}
		});
	}
});

</script>
<th:block th:include="header :: head"></th:block>
</head>
<body>
	<!-- Header -->
	<th:block th:include="header :: body"></th:block>

	<!-- Body Wrap -->
	<div id="content-wrap">
		<div class="mainTitle">
			<a>공연장</a>
		</div>
		<hr>
		<!-- 공연장 리스트 -->
		<!-- <ul class="tab-place">
			<li th:each="item : ${list}" class="place-link"
				th:data-tab="'place' + ${item.placeId}" th:data-place-id="${item.placeId}">
				<a th:text="${item.placeName}"></a>
			</li>
		</ul> -->
		<div class="tab-container">
			<div class="tab-controls">
				<button class="prev-btn">
					<i class="fas fa-chevron-left"></i>
				</button>
			</div>
			<div class="tab-place slider">
				<ul class="tab-row">
					<li th:each="item, itemStat : ${list}" class="place-link"
						th:data-tab="'place' + ${item.placeId}"
						th:data-place-id="${item.placeId}" 
						th:if="${itemStat.index >= __${currentTabIndex}__ * __${numVisibleTabs}__} and ${itemStat.index < (__${currentTabIndex}__ + 1) * __${numVisibleTabs}__}">
						<a th:text="${item.placeName}"></a>
					</li>
				</ul>
			</div>
			<div class="tab-controls">
				<button class="next-btn"
						th:onclick="nextButtonClick(/*[[${currentTabIndex}]]*/, /*[[${numVisibleTabs}]]*/)">
					<i class="fas fa-chevron-right"></i>
				</button>
			</div>
			<input type="hidden" id="currentTabIndex" th:value="${currentTabIndex}" />
		</div>

		<div th:each="item, itemStat : ${list}"
			 th:with="playList=${listPlay[itemStat.index]}">
			<div th:id="'place' + ${item.placeId}" th:data-place-id="${item.placeId}" class="place-content">
				<input type="hidden" name="place_la" th:value="${item.la}">
				<input type="hidden" name="place_lo" th:value="${item.lo}">
				<div class="placeInfo">
					<div class="info-content">
						<h3 th:text=${item.placeName}></h3>
						<br>
						<div class="address">
							<b>주 &nbsp;&nbsp;&nbsp;&nbsp; 소 : </b>
							<span th:text="${item.placeAddr}"></span>
							<div class="map-popup">
								<!-- 지도 팝업창 -->
								<i class="fa-solid fa-location-dot innerIcon"></i> 
								<span class="map">지도보기</span>
							</div>
						</div>
						<p>
							<b>전 &nbsp;&nbsp;&nbsp;&nbsp; 화 :</b> <span
								th:text="${item.placePhone}"></span>
						</p>
						<p class="link">
							<b>홈페이지 :</b>&nbsp;
							<a th:href="${item.placeLink}" target="_blank">
								<span th:text="${item.placeLink}"></span>
								<i class="fa-solid fa-share-from-square innerIcon"></i>
							</a>
						</p>
					</div>
				</div>
				
				<!-- 연극/맛집 탭 -->
				<ul class="tabs">
					<li class="play-link active" th:data-tab="'play' + ${item.placeId}" th:data-place-id="${item.placeId}">연극</li>
					<li class="play-link" th:data-tab="'eat' + ${item.placeId}" th:data-place-id="${item.placeId}">맛집</li>
				</ul>
	
				<!-- 연극 리스트 -->
				<div th:id="'play' + ${item.placeId}" class="play-content" th:data-place-id="${item.placeId}">
					<div class="theater-content">
						<div class="theater-unit" th:each="play : ${playList}">
							<div class="img-wrap">
								<img th:src="@{${play.playPoster}}" th:alt='${play.playTitle}'>
							</div>
							<h4 th:text='${play.playTitle}'></h4>
							<button class="reservation-btn" onclick="">예매하기</button>
						</div>
					</div>
				</div>
				
		
				<!-- 맛집 리스트 -->
				<div th:id="'eat' + ${item.placeId}" class="play-content" th:data-place-id="${item.placeId}">		
					<div id="map"></div>
					<div class="eat-content">
						<a class="eat-place" href="#">
							<div class="eat-head">
								<!-- <div class="eat-title"></div> -->
							</div>
							<p class="eat-side">
								<!-- <span>피자</span>&nbsp;&nbsp; <span>리뷰999+</span> -->
							</p>
						</a>
					</div>				
				</div>
			</div>
		</div>			
	</div>

<script th:inline="javascript">
	var currentIndex = 0;
	var itemsPerPage = 15;
	var numItems = "[[${list.size()}]]";
	 
	function nextButtonClick(currentTabIndex, numVisibleTabs) {
		if (currentIndex + itemsPerPage < numItems) {
			currentIndex += itemsPerPage;
	        showTabs();
		}
	
	    // Thymeleaf 변수 값 업데이트
	    var newCurrentTabIndex = Math.floor(currentIndex / numVisibleTabs);
	    var currentTabIndexInput = document.getElementById("currentTabIndex");
	    currentTabIndexInput.value = newCurrentTabIndex;
	    console.log("currentTabIndex: " + currentTabIndex + ", numVisibleTabs: " + numVisibleTabs);
	}
	function showTabs() {
		$(".tab-row > li").hide();
		$(".tab-row > li").slice(currentIndex, currentIndex + itemsPerPage).show();
		console.log("현재 index: " +  currentIndex);
	}

  $(document).ready(function() {
      $(".prev-btn").click(function() {
         if (currentIndex > 0) {
            currentIndex -= itemsPerPage;
            showTabs();
         }
      });

      showTabs();
  });
  
  
</script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMg74sWHciF_btGAmqaRn5NP1Ld46yOfE&libraries=places&callback=initMap"
		async defer></script>
</body>
</html>
