<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Google Maps API Example</title>
<link rel="stylesheet" href="../css/placelist.css">
<link rel="stylesheet" href="../css/header.css">
<link
	href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css"
	rel="stylesheet">
<script src="https://kit.fontawesome.com/fe66fff399.js"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script type="text/javascript">

/* //script문에 추가
var article_subject = $('input[name=article_subject]').val();

//html에 추가
<input type="hidden" name="article_subject" th:value="${article.subject}"> */

var la = [[${list[0].la}]];
var lo = [[${list[0].lo}]];
console.log(la,lo);

//Header
document.addEventListener('DOMContentLoaded', function(){
    //검색버튼 활성화
    const searchForm = document.querySelector('.search');
    const searchInput = document.querySelector('.search-input');
    const searchIcon = document.querySelector('.icon');

    searchIcon.addEventListener('click', function(e){
        e.preventDefault();     //폼 제출 동작 방지
        const keyword = searchInput.value;
        console.log('검색어: ', keyword);
    })

    //사용자 아이콘 클릭시 마이페이지 이동
    const userIcon = document.querySelector('.user-icon');
    userIcon.addEventListener('click', function(){
        window.location.href = 'place.html';
    });
});

    
//tab 화면 전환
$(document).ready(function(){
	//let btn = document.getElementsByClassName()
	
    //장소에 따른 탭
    $('.tab-place li').click(function(){
    	
        var tabId = $(this).data("tab");

        $('.tab-place li').removeClass('current');
        $('.place-content').removeClass('current');

        $(this).addClass('current');
        $("#"+tabId).addClass('current');

        la = $("#"+tabId).children()[0].value;
    	lo = $("#"+tabId).children()[1].value;
    	console.log(la + ":" +lo);
        
    });

    //연극/맛집에 따른 탭
    $('ul.tabs li').click(function(){
        var tab_id = $(this).attr('data-tab');

        $('ul.tabs li').removeClass('current');
        $('.tab-content').removeClass('current');

        $(this).addClass('current');
        $("#"+tab_id).addClass('current');
    });
});
//현재 위치를 이용하여 위도, 경도 구하기
/* var latitude;
var longitude;
var map;
var geocoder;


var showPosition = (position) =>{
	la = position.coords.latitude;  //위도
	lo = position.coords.longitude;//경도
}

var geoLocation = () =>{
	if(navigator.geolocation){
		//**콜백함수: 파라미터로 함수를 전달받아, 함수의 내부에서 실행하는 함수
		navigator.geolocation.getCurrentPosition(showPosition);

	}else{}
}
geoLocation(); */ 
	function initMap() {
		console.log(la + ":" +lo);
		var place = new google.maps.LatLng(la,lo);
		var mapOptions = {
			center : place,
			zoom : 17
		};

		var map = new google.maps.Map(document.getElementById('map'),
				mapOptions);

		var marker = new google.maps.Marker({
			position : place,
			map : map
		});

		var placesService = new google.maps.places.PlacesService(map);
		var request = {
			location : place,
			radius : 1000, // 검색 반경 설정 (미터 단위)
			type : 'restaurant' 
		};

		placesService.nearbySearch(request, function(results, status) {
			if (status === google.maps.places.PlacesServiceStatus.OK) {
				console.log(results); // 가져온 맛집 정보 출력
				
				for (let i = 0; i < 20; i++) {
					$(".eat-content").append(`
						    <div class="eat-place">
						      <div class="eat-head">
						        <div class="eat-title">${results[i].name}</div>
						      </div>
						      <p class="eat-side">
						        <span>${results[i].rating}</span>
						        <span>&nbsp;</span>
						        <span>리뷰 ${results[i].user_ratings_total}</span>
						      </p>
						    </div>
						  `);
				}
			} else {
				console.log('검색 결과가 없습니다.');
			}
		});
	}
	

	
</script>
</head>
<body>
	<!-- Header -->
	<header>
		<a href="/"><img src="../img/logo.png" id="logo"></img></a>
		<div id="nav-content">
			<nav>
				<ul>
					<li><a href="/play" class="menu">연극</a></li>
					<li><a href="/place" class="menu">공연장</a></li>
					<li><a href="/actor" class="menu">출연진</a></li>
					<li><a href="/event" class="menu">이벤트</a></li>
					<li><a href="#" class="menu">관람후기</a></li>
				</ul>
			</nav>
			<div class="right">
				<form action="" method="get" class="search">
					<input type="text" class="search-input" placeholder="검색어 입력">
					<div class="icon">
						<i class="fas fa-search"></i>
					</div>
				</form>
				<div class="user-icon">
					<a href="/mypage/pay"> <i class="fas fa-user fa-lg"></i>
					</a>
				</div>
			</div>
		</div>
	</header>

	<div id="content-wrap">
		<div class="mainTitle">
			<a>공연장</a>
		</div>
		<hr>
		<!-- <h2 class="mainTitle">공연장</h2> -->
		<!-- 공연장 목록 -->
		<ul class="tab-place">
			<li th:each="item : ${list}"
				th:class="${itemStat.index == 0 ? 'placeButton current' : 'placeButton'}"
				th:data-tab="'place-' + ${itemStat.index+1}"><span
				th:text="${item.placeName} "></span></li>
		</ul>
		<div class="pagination">
	        <th:block class="pagination" th:each="page : ${#numbers.sequence(startPage,endPage)}">
	        	<a th:if ="${page > 0 && page != nowPage}" th:href ="@{/place(page=${page-1})}" th:text="${page}"></a>
	        	<strong th:if ="${page == nowPage}" th:text="${page}"></strong>
	        	<span>&nbsp;</span> 
	        </th:block>
        </div>

		<div th:each="item : ${list}"
			th:with="playList=${listPlay[itemStat.index]}">
			<div th:id="'place-' + ${itemStat.index+1}"
				th:class="${itemStat.index == 0 ? 'place-content current' : 'place-content'}">
				<input type="hidden" name="place_la" th:value="${item.la}">
				<input type="hidden" name="place_lo" th:value="${item.lo}">
				<div class="placeInfo">
					<div class="info-content">
						<h3 th:text=${item.placeName}></h3>
						<br>
						<div class="address">
							<b>주 &nbsp;&nbsp;&nbsp;&nbsp; 소 : </b><span
								th:text="${item.placeAddr}"></span>
							<div class="map-popup">
								<!-- 지도 팝업창 -->
								<i class="fa-solid fa-location-dot innerIcon"></i> <span
									class="map">지도보기</span>
							</div>
						</div>
						<p>
							<b>전 &nbsp;&nbsp;&nbsp;&nbsp; 화 :</b> <span
								th:text="${item.placePhone}"></span>
						</p>
						<p class="link">
							<b>홈페이지 :</b>&nbsp;<a th:href="${item.placeLink}" target="_blank"><span
								th:text="${item.placeLink}"></span><i
								class="fa-solid fa-share-from-square innerIcon"></i></a>
						</p>
					</div>
				</div>

				<ul class="tabs">
					<li class="tab-link current" data-tab="tab-1">연극</li>
					<li class="tab-link" data-tab="tab-2">맛집</li>
				</ul>

				<!-- 연극 리스트 -->
				<div id="tab-1" class="tab-content current">
					<div class="theater-content">
						<div class="theater-unit" th:each="play : ${playList}">
							<div class="img-wrap">
								<img th:src="@{${play.playPoster}}" th:alt='${play.playTitle}'>
							</div>
							<h4 th:text='${play.playTitle}'></h4>
							<button class="reservation-btn" onclick="">예매하기</button>
						</div>

					</div>
				</div>

				<!-- 맛집 리스트 -->
				<div id="tab-2" class="tab-content">
					<div id="map"></div>
					<div class="eat-content">
						<a class="eat-place" href="#">
							<div class="eat-head">
								<!-- <div class="eat-title"></div> -->
							</div>
							<p class="eat-side">
								<!-- <span>피자</span>&nbsp;&nbsp; <span>리뷰999+</span> -->
							</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMg74sWHciF_btGAmqaRn5NP1Ld46yOfE&libraries=places&callback=initMap"
		async defer></script>
</body>
</html>
