<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script>
        var IMP = window.IMP; 
        IMP.init("imp52160681"); 
      
        var today = new Date();
        var year = today.getFullYear(); // 현재 연도 반환
        var month = today.getMonth() + 1; // 현재 월 반환 (0부터 시작하므로 1을 더해야 실제 월이 됨)
        var day = today.getDate(); 
        var hours = today.getHours(); // 시
        var minutes = today.getMinutes();  // 분
        var seconds = today.getSeconds();  // 초
        //var milliseconds = today.getMilliseconds();
        var makeMerchantUid = year+month+day+hours +  minutes + seconds;
		
        function requestPay() {
        	console.log(makeMerchantUid);
        	var merchant_uid = "IMP" + makeMerchantUid;
        	var name = '연극 리어왕 ';
            var buyer_name = '아임포트 기술지원팀';
            var buyer_email = 'Iamport@chai.finance';
            IMP.request_pay({
                pg : "html5_inicis.INIpayTest",
                merchant_uid: "IMP"+makeMerchantUid, 
                name : '연극 리어왕 ',
                amount : 100,
                buyer_name : '아임포트 기술지원팀',
                buyer_email : 'Iamport@chai.finance',
                buyer_postcode : makeMerchantUid
            }, function (rsp) { // callback
                if (rsp.success) {
                	alert("예매 성공 ");
                    console.log(rsp);
                	let payVal = {
                			"merchantUid" : merchant_uid,
                			"userId" : 1,
                			"playId" : "PF220036",
                			"playTitle" : name
                		};
                    console.log(payVal);
                    $.ajax({
                    	type:"post",
        				url:"/pay/reservation",
        				data:JSON.stringify(payVal),
        				contentType:"application/json",
        				dataType:"json",
        				success:function(response){
        					console.log("success");
        					var redirectUrl = response.url;
        			        if (redirectUrl) {
        			        	location.href = redirectUrl;
        			        }
        				},
        				error:function(){
        					alert("통신 실패 ");
        				}
                    });
                } else {
                    console.log(rsp);
                }
            });
        }
    </script>
    <meta charset="UTF-8">
    <title>Sample Payment</title>
</head>
<body>
    <button onclick="requestPay()">결제하기</button>
</body>
</html>