<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>theater_detail</title>
<link
	href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css"
	rel="stylesheet">
<!-- 다헤 연극리스트 -->
<link rel="stylesheet" href="/css/playdetail.css">
<!-- 아이콘  -->
<script src="https://kit.fontawesome.com/cd881899b1.js"
	crossorigin="anonymous"></script>
<!-- header nav -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
<!-- 제이쿼리 , tab 기능 -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<!-- 예매 하기  -->
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<th:block th:include="header :: head"></th:block>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script type="text/javascript"
	src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script type="text/javascript"
	src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<script th:inline="javascript">

	
//찜 삭제
function deleteWish(){
	  
	var playTitle = document.getElementById('playTitle').value;
	console.log(playTitle);
	
	$.ajax({
			type : "post",
			url : "/play/detail/delete",
			data : {'playtitle': playTitle},
			dataType : "json",
			success : function(response) {
						
			if(response === "true"){
			location.reload();
			}
			else{
			location.reload();
			}
		},
			error : function() {
				alert("통신 실패 ");
			}
	});
			  
	}
	
	//찜 추가
	function updateWish(){
		var playTitle = document.getElementById('playTitle').value;
		var playPoster = document.getElementById('playPoster').value;
		$.ajax({
			type : "post",
			url : "/play/detail/update",
			data : {'playtitle': playTitle, 'playposter' : playPoster},
			dataType : "json",
			success : function(response) {
						
			if(response === "true"){
			location.reload();
			}
			else{
			location.reload();
			}
		},
			error : function() {
				alert("통신 실패 ");
			}
	});
	}
	
	var IMP = window.IMP;
	IMP.init("imp52160681");
	var today = new Date();
	var year = today.getFullYear(); // 현재 연도 반환
	var month = today.getMonth() + 1; // 현재 월 반환 (0부터 시작하므로 1을 더해야 실제 월이 됨)
	var day = today.getDate();
	var hours = today.getHours(); // 시
	var minutes = today.getMinutes(); // 분
	var seconds = today.getSeconds(); // 초
	//var milliseconds = today.getMilliseconds();
	var makeMerchantUid = year + month + day + hours + minutes + seconds+1000;

	
	function requestPay() {
		console.log(makeMerchantUid);
		var merchant_uid = "IMP" + makeMerchantUid;
		var name = /*[[${play.get().playTitle}]]*/;
		var amount = /*[[${play.get().price}]]*/;
	    console.log(amount);
	    console.log(name);
		var buyer_name = '아임포트 기술지원팀';
		var buyer_email = 'Iamport@chai.finance';
		IMP.request_pay({
			pg : "html5_inicis.INIpayTest",
			merchant_uid : "IMP" + makeMerchantUid,
			name : name,
			amount : amount,
			buyer_name : '아임포트 기술지원팀',
			buyer_email : 'Iamport@chai.finance',
			buyer_postcode : makeMerchantUid
		}, function(rsp) { // callback
			if (rsp.success) {
				alert("예매 성공 ");
				console.log(rsp);
				let payVal = {
					"merchantUid" : merchant_uid,
					"userId" : 1,
					"playId" : "PF220036",
					"playTitle" : name
				};
				console.log(payVal);
				$.ajax({
					type : "post",
					url : "/pay/reservation",
					data : JSON.stringify(payVal),
					contentType : "application/json",
					dataType : "json",
					success : function(response) {
						console.log("success");
						var redirectUrl = response.url;
						if (redirectUrl) {
							location.href = redirectUrl;
						}
					},
					error : function() {
						alert("통신 실패 ");
					}
				});
			} else {
				console.log(rsp);
			}
		});
	}
	/* 탭 js */
	$(document).ready(function() {

		$('ul.tab-btn li').click(function() {
			var tab_id = $(this).attr('data-tab');

			$('ul.tab-btn li').removeClass('current');
			$('.tab-content').removeClass('current');

			$(this).addClass('current');
			$("#" + tab_id).addClass('current');
		});
		
		/* // 1. buildCalendar 실행
        buildCalendar(); */

	});
	
	
	window.onload = function() {
		// 1. buildCalendar 실행
		buildCalendar();
		

	}

	//1. 달력 생성
	let nowMonth = new Date(); // 현재 달을 페이지를 로드한 날의 달로 초기화
	let calToday = new Date(); // 페이지를 로드한 날짜를 저장 , 이름 today에서 calToday로 변경
	calToday.setHours(0, 0, 0, 0); // 비교 편의를 위해 today의 시간을 초기화

	// 달력 생성 : 해당 달에 맞춰 테이블을 만들고, 날짜를 채워 넣음
	function buildCalendar() {

		let firstDate = new Date(nowMonth.getFullYear(), nowMonth.getMonth(), 1); // 이번달 1일
		let lastDate = new Date(nowMonth.getFullYear(),
				nowMonth.getMonth() + 1, 0); // 이번달 마지막날

		let tbody_Calendar = document.querySelector(".Calendar > tbody");
		document.getElementById("calYear").innerText = nowMonth.getFullYear(); // 연도 숫자 갱신
		document.getElementById("calMonth").innerText = leftPad(nowMonth
				.getMonth() + 1); // 월 숫자 갱신
		
		while (tbody_Calendar.rows.length > 0) { // 이전 출력결과가 남아있는 경우 초기화
			tbody_Calendar.deleteRow(tbody_Calendar.rows.length - 1);
		}
    
		let nowRow = tbody_Calendar.insertRow(); // 첫번째 행 추가           

		for (let j = 0; j < firstDate.getDay(); j++) { // 이번달 1일의 요일만큼
			let nowColumn = nowRow.insertCell(); // 열 추가
		}
		var playstart = [[${play.get().playFrom}]];
		var playend = [[${play.get().playTo}]];
		var playtime = [[${play.get().time}]];
		var playweekday = [[${play.get().day}]];
		const weekdays = [ "일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일" ];
		console.log(playstart+" start");
		console.log(playend+ " end");
		console.log(playweekday);

		for (let nowDay = firstDate; nowDay <= lastDate; nowDay.setDate(nowDay
				.getDate() + 1)) { // day는 날짜를 저장하는 변수, 이번달 마지막날까지 증가시키며 반복  

			let nowColumn = nowRow.insertCell(); // 새 열을 추가하고

			let newDIV = document.createElement("p");
			newDIV.innerHTML = leftPad(nowDay.getDate()); // 추가한 열에 날짜 입력
			nowColumn.appendChild(newDIV);
		
			if (nowDay.getDay() == 6) { // 토요일인 경우
				nowRow = tbody_Calendar.insertRow(); // 새로운 행 추가
			}
			const weekday = weekdays[nowDay.getDay()];
			//console.log(weekday);
			console.log(nowDay);
			
			const year = nowDay.getFullYear();
			const month = leftPad(nowDay.getMonth() + 1);
			const day = leftPad(nowDay.getDate());
			const date = year + "-" + month + "-" + day;
			console.log(date);
			
			if (nowDay < calToday||(weekday != playweekday||date<playstart||date>playend)) { // 지난날인 경우
				newDIV.className = "pastDay";
			
			} else if (nowDay.getFullYear() == calToday.getFullYear()
					&& nowDay.getMonth() == calToday.getMonth()
					&& nowDay.getDate() == calToday.getDate()) { // 오늘인 경우           

				newDIV.className = "today";
				newDIV.onclick = function() {
					choiceDate(this);
				}
			} else { // 미래인 경우
				newDIV.className = "futureDay";
				newDIV.onclick = function() {
					choiceDate(this);
				}
			}
		}
	}
	
	// 날짜 선택
	function choiceDate(newDIV) {
		if (document.getElementsByClassName("choiceDay")[0]) { // 기존에 선택한 날짜가 있으면
			document.getElementsByClassName("choiceDay")[0].classList
					.remove("choiceDay"); // 해당 날짜의 "choiceDay" class 제거
		}
		newDIV.classList.add("choiceDay"); // 선택된 날짜에 "choiceDay" class 추가
		console.log(newDIV.classList);
		let selectedDate = new Date(nowMonth.getFullYear(),
				nowMonth.getMonth(), newDIV.innerHTML);
		const weekdays = [ "일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일" ];
		const year = selectedDate.getFullYear();
		const month = leftPad(selectedDate.getMonth() + 1);
		const day = leftPad(selectedDate.getDate());
		const date = year + "-" + month + "-" + day;
		const weekday = weekdays[selectedDate.getDay()];
		let dateVal = {
				"weekday" : weekday,
				"date" : date
		};
	}

	const date = year + "-" + month + "-" + day;
	
	/* 데이터베이스에 저장된 연극의 상영기간 (시작 , 종료)을 가져옴 */
	var playstart = [[${play.get().playFrom}]];
	var playend = [[${play.get().playTo}]];
	var playtime = [[${play.get().time}]];
	
	// 정해진 기간에만 예매 가능하도록 설정
	console.log(playstart);
	console.log(playend);
	
	/* date 는 선택했을때에 만들어내는 날짜 ,db에 날짜 형식이 yyyy-mm-dd 형식이므로 date를 이용해 똑같이 맞춰줌 */

				// 이전달 버튼 클릭
				function prevCalendar() {
					nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() - 1,
							nowMonth.getDate()); // 현재 달을 1 감소
					buildCalendar(); // 달력 다시 생성
				}
				// 다음달 버튼 클릭
				function nextCalendar() {
					nowMonth = new Date(nowMonth.getFullYear(), nowMonth.getMonth() + 1,
							nowMonth.getDate()); // 현재 달을 1 증가
					buildCalendar(); // 달력 다시 생성
				}

				// input값이 한자리 숫자인 경우 앞에 '0' 붙혀주는 함수
				function leftPad(value) {
					if (value < 10) {
						value = "0" + value;
						return value;
					}
					return value;
				}
	
</script>
<th:block th:include="header :: head"></th:block>
</head>

<body>
	<!-- 헤더 nav -->
	<th:block th:include="header :: body"></th:block>
	<!-- 연극 상세 -->
	<div id="content-wrap">
		<!-- 연극 wrap -->
		<div class="theater-wrap">
			<!-- 포스터 -->
			<div class="theater-poster">
				<img th:if="${play.isPresent()}"
					 th:src="@{${play.get().playPoster}}">
			</div>
			<!-- 상세정보 -->
			<div class="theater-info">
				<div class="theater-title">
					<i class="fa-solid fa-clapperboard fa-lg"></i>&nbsp;
					<h1 th:if="${play.isPresent()}" th:text="${play.get().playTitle}"></h1>
					<input type="hidden" id="playPoster" name="playposter"
						th:value="${playPoster}">
				</div>
				<hr>
				<div class="theater-detail first">
					<i class="fa-solid fa-coins"></i>&nbsp;
					<span th:if="${play.isPresent()}" th:text="${play.get().playPrice}"></span>
				</div>
				<div class="theater-detail">
					<i class="fa-regular fa-calendar-check"></i>&nbsp;
					<span th:if="${play.isPresent()}" th:text="${play.get().playFrom}"></span>
					<span>~</span>
					<span th:if="${play.isPresent()}" th:text="${play.get().playTo}"></span>
				</div>
				<div class="theater-detail">
					<i class="fa-solid fa-user"></i>&nbsp;
					<span th:if="${play.isPresent()}" th:text="${play.get().playAge}"></span>
				</div>
				<div class="theater-detail">
					<i class="fa-solid fa-location-dot"></i>&nbsp;
					<span th:if="${place.isPresent()}" th:text="${place.get().placeName}"></span>
				</div>
				<div class="theater-detail">
					<i class="fa-regular fa-heart" onclick="updateWish()"
						th:if="${user_state != 'login' or !#lists.contains(playwish.![playtitle], play.get().playTitle)}"></i>
					<!-- 로그인 안 됐을 경우 & 찜 안 했을 경우 -->

					<input type="hidden" id="playTitle" name="playtitle"
						th:value="${playTitle}"> <i
						th:if="${user_state == 'login' and #lists.contains(playwish.![playtitle], play.get().playTitle)}"
						class="fa-solid fa-heart" onclick="deleteWish()"></i>
					<!-- 찜 버튼 눌려져있을 경우 -->
				</div>
			</div>
		</div>
		<!-- 예매 박스 -->
		<div class="reserve-wrap">
			<div class="reserve-box">
				<div class="step-1">
					<h1>STEP.1</h1>
					<br>
					<p>날짜 선택</p>
				</div>

				<!-- 캘린더 변경 -->
				<section id="calendarList">
					<div class="calbox">
						<table class="Calendar">
							<thead>
								<tr>
									<td onClick="prevCalendar();" style="cursor: pointer;">&#60;</td>
									<td colspan="5"><span id="calYear"></span>년 <span
										id="calMonth"></span>월</td>
									<td onClick="nextCalendar();" style="cursor: pointer;">&#62;</td>
								</tr>
								<tr>
									<td>일</td>
									<td>월</td>
									<td>화</td>
									<td>수</td>
									<td>목</td>
									<td>금</td>
									<td>토</td>
								</tr>
							</thead>
							<tbody></tbody>
							<!-- 달력 부분 -->
						</table>
					</div>
				<!-- 가능한 연극 리스트 -->
				</section>
					<div class="step-2">
						<h1>STEP.2</h1>
						<br>
						<p>시간 선택</p>
					</div>
        
					<!-- 시간선택 드롭다운  -->
					<div class="timeDropdown">
						<div class="container">
						  <form class="form">
						    <div class="selectbox selectbox--unselect" data-option="">
						      <div class="selectbox__displayWord">
						        연극 시간 선택
						      </div>
						      <div class="option-container">
						        <div class="option-container__option">
						          <input type="radio" class="option__radio" name="category">
						          <label class="option__label" th:if="${play.isPresent()}" th:text="${play.get().time}">11:00</label>
						        </div>
						      </div>
						    </div>
						  </form>
						</div>
					</div>
			</div>
		</div>

		<!-- 예매하기 버튼 -->
		<div class="reserve-btn">
			<a title="Button push lightblue"
				class="button btnPush btnLightBlue" onclick="requestPay()">예매하기</a>
		</div>
		<!-- 추천연극 
        <div class="theater-recommand">
            추천연극 ㄴ펼치기 / 접기 
            <span id="more" style="CURSOR: hand" onclick="if(story.style.display=='none') {story.style.display='';more.innerText='- 접기'} else {story.style.display='none';more.innerText='비슷한 연극이 궁금하다면?'}">비슷한 연극이 궁금하다면?</span>
            <div id="story" style="display: none">
                 펼친 div 
                <div class="recommand-poster">
                    <img onclick="" src="./img/poster01.png">
                    <img onclick="" src="./img/poster02.jpg">
                    <img onclick="" src="./img/poster03.jpg">
                </div>
            </div>
        </div> 추천연극 다시 활성화 -->
		<!-- 정보 , 후기 , 출연진 탭버튼 -->
		<div class="tab-menu">
			<ul class="tab-btn">
				<li class="menu current" data-tab="tab-1"><a
					style="cursor: pointer">상세정보</a></li>
				<li class="menu" data-tab="tab-2"><a style="cursor: pointer">관람후기</a></li>
				<li class="menu" data-tab="tab-3"><a style="cursor: pointer">출연진</a></li>
			</ul>
		</div>
		<!-- 정보탭 -->
		<div id="tab-1" class="tab-content current">
			<div class="promotion">
				<img src="./img/theater01.jpg">
			</div>
			<!-- 예매자 통계 -->
			<div class="statistics">
				<h4>예매자 통계</h4>
				<!-- 성별 통계 -->
				<div class="statistics-container">
					<div class="statistics-box">
						<h2 class="statistics-heading">성별 통계</h2>
						<div class="statistics-row">
							<span class="statistics-label"><i class="fa-solid fa-mars"></i></span>
							<span class="statistics-value">n 명</span>
						</div>
						<div class="statistics-row">
							<span class="statistics-label"><i
								class="fa-solid fa-venus"></i></span> <span class="statistics-value">n
								명</span>
						</div>
					</div>
				</div>
				<!-- 나이 통계 -->
				<canvas id="age-chart" width="650" height="500"></canvas>
			</div>
		</div>
		<!-- 후기탭 -->
		<div id="tab-2" class="tab-content">
	            <div class="review">
	                <div class="detailBox">
	                    <div class="actionBox">
	                        <ul class="commentList">
	                            <li th:each="review:${review}">
	                                <div class="userName">
	                                    <p>고양이희</p>
	                                </div>
	                                <div class="commentText" th:text="${review.review_comment}">
	                                    <p>보길 잘한듯 .. 완전 잼썼어용 ㅎㅎ ㅇㄴㄹㅁㄴ완전 잼썼어용 ㅎㅎ ㅇㄴㄹㅁㄴ완전 잼썼어용 ㅎㅎ ㅇㄴㄹㅁㄴ완전 잼썼어용 ㅎㅎ ㅇㄴㄹㅁㄴ완전 잼썼어용
	                                        ㅎㅎ ㅇㄴㄹㅁㄴ완전 잼썼어용 ㅎㅎ ㅇㄴㄹㅁㄴ완전 잼썼어용 ㅎㅎ ㅇㄴㄹㅁㄴ완전 잼썼어용 ㅎㅎ ㅇㄴㄹㅁㄴ</p>
	                                </div>
	                                <div class="commentImage">
	                                  <img th:src="'data:image/jpeg;base64,' + ${review.encodedImage}"
	            						alt="게시물 이미지" class="post-image" width="300px" height="300px">
	                                </div>
	                                <hr>
	                            </li>
	                        </ul>
	                    </div>
	                </div>
	            </div>
	        </div>
		<!-- 캐스팅탭 -->
		<div id="tab-3" class="tab-content">
			<div class="cast">
				<div class="cast-info" th:each="item : ${actor}">
					<a href=""> <img src="./img/actor01.jpg">
						<p th:text="${item.actorName}"></p>
					</a>
				</div>
			</div>
		</div>
	</div>
	<!-- content wrap ( 양옆 여백 )-->
	<!-- 통계 js -->
	<script>
		 const selectbox = document.querySelector(".selectbox");
	     const selectboxDisplay = document.querySelector(".selectbox__displayWord");
	     const submitbtn = document.querySelector(".learn-more");
	     const optionList = document.querySelectorAll(".option-container__option");
		/* 시간선택 드롭다운  */
		 selectboxDisplay.addEventListener("click", (e) => {
	         e.stopPropagation();
	         selectbox.classList.toggle("selectbox--active");
	     });
	
	     optionList.forEach((option, index) => {
	         option.addEventListener("click", (e) => {
	             e.stopPropagation();
	
	             let label = option.querySelector("label");
	             selectboxDisplay.innerHTML = label.innerHTML.length > 17 ? label.innerHTML.substring(0, 17) + "..." : label.innerHTML;
	             selectbox.setAttribute("data-option", label.getAttribute("data-value"));
	             selectbox.classList.remove("selectbox--active", "selectbox--unselect");
	         });
	     });
	     
	     window.addEventListener("click", () => {
	         selectbox.classList.remove("selectbox--active");
	     });
		// 나이별 통계 데이터
		const ageData = {
			labels : [ '10대', '20대', '30대', '40대', '50대 이상' ],
			datasets : [ {
				label : '인원 수',
				data : [ 10, 23, 20, 10, 5 ],
				backgroundColor : 'rgba(54, 162, 235, 0.5)',
				borderColor : 'rgba(54, 162, 235, 1)',
				borderWidth : 1
			} ]
		};

		// 그래프 생성
		const ctx = document.getElementById('age-chart').getContext('2d');
		new Chart(ctx, {
			type : 'bar',
			data : ageData,
			options : {
				responsive : false,
				scales : {
					y : {
						beginAtZero : true,
						stepSize : 5,
					}
				}
			}
		});
	</script>

</body>

</html>
