<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css" rel="stylesheet">
<title>CurtainCall</title>
<link rel="stylesheet" href="/css/review.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/fe66fff399.js" crossorigin="anonymous"></script>
<script>
        window.onload = function () {
           // 리뷰 현재 월 가져오기
           let nowMonth = new Date();
           document.getElementById("review-month").innerText = `${nowMonth.getMonth() + 1}월 베스트 리뷰`;
        }
        let nowMonth = new Date();
        
        var modal = document.getElementById("myModal");
        var modalbtn = document.getElementById("openModal");
        var span = document.getElementsByClassName("modal-close")[0];
//         var state = document.getElementById("state").value;

        function register() {
            var state = document.getElementById("state").value;
            if(state === ''){
            alert('로그인 후 이용 가능합니다.');
            window.location.href="/login";
            }else{
            var modal = document.getElementById("myModal");
            modal.style.display = "block";
            }
        }
        function closeModal() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        }

        /* var span = document.getElementsByClassName("modal-close")[0];
        span.addEventListener("click", function() {
            var modal = document.getElementById("myModal");
            modal.style.display = "none";
        });
    
        window.addEventListener("click", function(event) {
            var modal = document.getElementById("myModal");
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }); */
    </script>
    <th:block th:include="header :: head"></th:block>
</head>

<body>
   <!-- Header -->
   <th:block th:include="header :: body"></th:block>
   
   <!-- 후기 리스트 -->
   <div id="review">
   	<!-- 월간 베스트 리뷰 -->
      <h2 id="review-month"></h2>
      <div class="feed-box">
         <div class="feed-box">
			<div class="feed" th:each="review, reviewStat:${bestReview}" ><!-- th:with="play=${play[reviewStat.index]}" -->
				<!-- 리뷰 상단 -->
				<div class="review-top">
					<div class="review-ranking">
						<i class="fa-solid fa-crown"></i> <span
							th:text="${reviewStat.index+1}+'등'"></span>
					</div>
					<div class="review-userid">
						<span th:text="${review.userName}">review.userName</span>
					</div>
				</div>
				<img th:src="'data:image/jpeg;base64,' + ${review.encodedImage}"
					alt="게시물 이미지" class="post-image" width="300px" height="300px">
				<!-- 리뷰 하단 -->
				<div class="review-wrap">
					<div class="theater-name">
						<i class="fa-solid fa-clapperboard"></i>
						<span th:text="${review.play_title}">review.play_title</span>
						<!-- <a th:href="@{/play/detail(playId=${play.playId})}" th:text="${review.play_title}">review.play_title</a> -->
					</div>
					<!-- 연극 이름 -->
					<div class="icon-box">
						<i class="fa-solid fa-heart"></i>
						<div class="likeNum" th:text="${review.review_count}">review.review_count</div>
					</div>
				</div>
				<!-- 후기 내용 -->
				<div class="review-content" th:text="${review.review_comment}">review.review_comment</div>
			</div>
		</div>
      </div>
      <hr>
      
      <!-- 후기 검색 -->
      <div class="search-wrap">
	      <form action="/review/search" method="get" class="review-search">
	          <input type="text" name="keyword" class="review-search-input" placeholder="후기 검색">
	          <div class="icon"><i class="fas fa-search fa-lg"></i></div>
	      </form>
      </div>
      
<!--       <div class="feed2" th:each="review, reviewStat:${review}" th:with="play=${play[reviewStat.index]}">
 -->      <div class="feed2" th:each="review, reviewStat:${review}">
         <!-- 리뷰 상단 -->
	         <div class="review-top">
	            <i class="fa-solid fa-user"></i>
	              <div class="review-userid" th:text="${review.userName}">user1234</div>
	         </div>
	         <img th:src="'data:image/jpeg;base64,' + ${review.encodedImage}"
	            alt="게시물 이미지" class="post-image" width="300px" height="300px">
	         <!-- 리뷰 하단 -->
	         <div class="review-wrap">
	            <!-- 좋아요 -->
	            <div class="icon-box">
	               <button class="like-button">
	                  <i class="fa-solid fa-heart" th:attr="data-review-id=${review.review_id}"
	                     onclick="likeClick(this)"></i>
	               </button>
	               <div class="likeNum" th:text="${review.review_count}">32</div>
	            </div>
	         </div>
	         <div class="theater-name">
	            <i class="fa-solid fa-clapperboard"></i>
	            <a
	               th:text="${review.play_title}">연극라면</a>
	         </div>
	         <!-- 연극 이름 -->
	         <div class="review-content" th:text="${review.review_comment}">너무너무
	            재밌어요~!</div>
	         <!-- 후기 내용 -->
	        <hr class="hrLine">
      </div>


      <input type="hidden" id="state" th:value="${user_state}">
      <div class="fixed-button" id="openModal" onclick="register()" title="후기 작성하기">+</div>

      <div class="modal" id="myModal">
         <div class="modal-content">
            <div class="modal-title">
               <h2>관람후기 작성하기</h2>
               <span class="modal-close" onclick="closeModal()">&times;</span>
            </div>
            <form class="modal-form" action="/submit-review" method="post"
               enctype="multipart/form-data">
               <!-- 영화선택 드롭다운 -->
               <!-- Contenedor -->
               <div class="container">
                  <div class="form">
                     <div class="selectbox selectbox--unselect" data-option="">
                        <div class="selectbox__displayWord">-- 연극 선택 --</div>
                        <div class="option-container">
                           <div class="option-container__option"
                              th:each="title,iterStat: ${playtitle}">
                              <input type="radio" th:id="${'category_'+title}"
                                 class="option__radio" th:value="${title}" name="category">
                              <label class="option__label" th:for="${'category_'+title}"
                                 th:text="${title}">title</label>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <!-- 내용 입력칸 -->
               <div class="modal-form-left">
                  <input type="file" accept="image/*" multiple="multiple" name="img">
               </div>
               <div class="modal-form-right">
                  <textarea placeholder="내용을 입력하세요" name="content"></textarea>
               </div>

               <!-- 파일 업로드 버튼 -->
               <div class="modal-form-button">
                  <div id="container">
                     <button class="learn-more">
                        <span class="circle" aria-hidden="true"> <span
                           class="icon arrow"></span>
                        </span> <span class="button-text">등록 하기</span>
                     </button>
                  </div>
               </div>
            </form>
         </div>
      </div>
   </div>
   <script>
        // 드롭다운 js
        const selectbox = document.querySelector(".selectbox");
        const selectboxDisplay = document.querySelector(".selectbox__displayWord");
        const submitbtn = document.querySelector(".learn-more");
        const optionList = document.querySelectorAll(".option-container__option");
        /* 좋아요 js */
//         $(document).ready(function () {
           
//             $('.like-button').click(function () {
//                 $.ajax({
//                    url: '/review/likecount',
//                    type: 'post',
//                    data: {
//                       'content' : ${}
//                    }
//                 })
//             })

//         })

      function likeClick(element){
           
         var review_id = element.getAttribute("data-review-id");
         
           console.log(review_id);
             $.ajax({
                url: '/review/likecount',
                type: 'post',
                data: {
                   'review_id' : review_id
                },
                dataType : 'json',
                success : function(result){
                   if(result === "true") {
                      
                   }else{
                      location.reload();
                   }
                }
         });
        }
		
	      selectboxDisplay.addEventListener("click", (e) => {
	          e.stopPropagation();
	          selectbox.classList.toggle("selectbox--active");
	      });
	
	      optionList.forEach((option, index) => {
	          option.addEventListener("click", (e) => {
	              e.stopPropagation();
	
	              let label = option.querySelector("label");
	              selectboxDisplay.innerHTML = label.innerHTML.length > 17 ? label.innerHTML.substring(0, 17) + "..." : label.innerHTML;
	              selectbox.setAttribute("data-option", label.getAttribute("data-value"));
	              selectbox.classList.remove("selectbox--active", "selectbox--unselect");
	          });
	      });
	
	      submitbtn.addEventListener("click", () => {
	          if (selectbox.classList.contains("selectbox--unselect")) shakeBox();
	      });
	
	      window.addEventListener("click", () => {
	          selectbox.classList.remove("selectbox--active");
	      });

    </script>
    
    <!-- Footer -->
	<th:block th:replace="footer :: footer"></th:block>
</body>

</html>