<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="./css/review.css">
<link
	href="https://webfontworld.github.io/NanumSquareNeo/NanumSquareNeo.css"
	rel="stylesheet">

<title>Insert title here</title>
<th:block th:include="header :: head"></th:block>
<script src="https://kit.fontawesome.com/fe66fff399.js"
	crossorigin="anonymous"></script>
<script>
	window.onload = function() {

		// 리뷰 현재 월 가져오기
		/* let nowMonth = new Date();
		document.getElementById("review-month").innerText = `${nowMonth.getMonth() + 1}월 베스트 리뷰`; */
	}
	var modal = document.getElementById("myModal");
	var btn = document.getElementById("openModal");
	var span = document.getElementsByClassName("modal-close")[0];

	function register() {
		var modal = document.getElementById("myModal");
		modal.style.display = "block";
	}
	function close(){
		var modal = document.getElementById("myModal");
		modal.style.display = "none";
	}

	/* var span = document.getElementsByClassName("modal-close")[0];
	span.addEventListener("click", function() {
		var modal = document.getElementById("myModal");
		modal.style.display = "none";
	});

	window.addEventListener("click", function(event) {
		var modal = document.getElementById("myModal");
		if (event.target == modal) {
			modal.style.display = "none";
		}
	}); */
</script>
</head>
<body>
	<!-- 헤더 nav -->
	<th:block th:include="header :: body"></th:block>
	<!-- 후기 리스트 -->
	<!-- 4. 월간 베스트 리뷰 -->
	<div id="review">
		<h2 id="review-month">Montly Best</h2>
		<div class="feed-box">
			<!-- 1등 후기 -->
			<div class="feed">
				<!-- 리뷰 상단 -->
				<div class="review-top">
					<div class="review-ranking">
						<i class="fa-solid fa-crown"></i> 1등
					</div>
					<div class="review-userid">user1234 님</div>
				</div>
				<img src="./img/review01.jpg" alt="게시물 이미지" class="post-image"
					width="300px" height="300px">
				<!-- 리뷰 하단 -->
				<div class="review-wrap">
					<div class="theater-name">연극라면</div>
					<!-- 연극 이름 -->
					<div class="icon-box">
						<i class="fa-solid fa-heart"></i>
						<div class="likeNum">32</div>
					</div>
				</div>
				<div class="review-content">너무너무 재밌어요~!</div>
				<!-- 후기 내용 -->
			</div>

			<!-- 2등 후기 -->
			<div class="feed">
				<!-- 리뷰 상단 -->
				<div class="review-top">
					<div class="review-ranking">
						<i class="fa-solid fa-crown"></i> 2등
					</div>
					<div class="review-userid">user1234 님</div>
				</div>
				<img src="../img/review01.jpg" alt="게시물 이미지" class="post-image"
					width="300px" height="300px">
				<!-- 리뷰 하단 -->
				<div class="review-wrap">
					<div class="theater-name">연극라면</div>
					<!-- 연극 이름 -->
					<div class="icon-box">
						<i class="fa-solid fa-heart"></i>
						<div class="likeNum">32</div>
					</div>
				</div>
				<div class="review-content">너무너무 재밌어요~!</div>
				<!-- 후기 내용 -->
			</div>

			<!-- 3등 후기 -->
			<div class="feed">
				<!-- 리뷰 상단 -->
				<div class="review-top">
					<div class="review-ranking">
						<i class="fa-solid fa-crown"></i> 3등
					</div>
					<div class="review-userid">user1234 님</div>
				</div>
				<img src="../img/review01.jpg" alt="게시물 이미지" class="post-image"
					width="300px" height="300px">
				<!-- 리뷰 하단 -->
				<div class="review-wrap">
					<div class="theater-name">연극라면</div>
					<!-- 연극 이름 -->
					<div class="icon-box">
						<i class="fa-solid fa-heart"></i>
						<div class="likeNum">32</div>
					</div>
				</div>
				<div class="review-content">너무너무 재밌어요~!</div>
				<!-- 후기 내용 -->
			</div>
		</div>
		<hr>
		<div class="feed2">
			<!-- 리뷰 상단 -->
			<div class="review-top">
				<div class="review-userid">user1234 님</div>
			</div>
			<img src="../img/review01.jpg" alt="게시물 이미지" class="post-image"
				width="300px" height="300px">
			<!-- 리뷰 하단 -->
			<div class="review-wrap">
				<div class="theater-name">연극라면</div>
				<!-- 연극 이름 -->
				<div class="icon-box">
					<i class="fa-solid fa-heart"></i>
					<div class="likeNum">32</div>
				</div>
			</div>
			<div class="review-content">너무너무 재밌어요~!</div>
			<!-- 후기 내용 -->
		</div>
		<div class="feed2">
			<!-- 리뷰 상단 -->
			<div class="review-top">
				<div class="review-userid">user1234 님</div>
			</div>
			<img src="../img/review01.jpg" alt="게시물 이미지" class="post-image"
				width="300px" height="300px">
			<!-- 리뷰 하단 -->
			<div class="review-wrap">
				<div class="theater-name">연극라면</div>
				<!-- 연극 이름 -->
				<div class="icon-box">
					<i class="fa-solid fa-heart"></i>
					<div class="likeNum">32</div>
				</div>
			</div>
			<div class="review-content">너무너무 재밌어요~!</div>
			<!-- 후기 내용 -->
		</div>

		<div class="fixed-button" id="openModal" onclick="register()">+</div>

		<div class="modal" id="myModal">
			<div class="modal-content">
				<div class="modal-title">
					<h2>관람후기 작성하기</h2>
					<span class="modal-close" onclick="close()">&times;</span>
				</div>
				<form class="modal-form" action="/submit-review" method="POST">
					<div class="modal-form-left">
						<input type="file" accept="image/*">
					</div>
					<div class="modal-form-right">
						<input type="text" placeholder="userid" name="userid">
						<textarea placeholder="내용을 입력하세요" name="content"></textarea>
					</div>
				</form>
				<div class="modal-form-button">
					<button type="submit">등록하기</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>



